<div class="select-card">
	<div class="select-card-container">
		<div class="sel-title">Tarot Reading</div>
		<div class="sel-items">
			<div class="sel-item1">
				<div *ngIf="tarotImgFlag; then thenBlock5 else elseBlock5"></div>
				<ng-template #thenBlock5><img src="assets/img/tarot/tarot5.png"  /></ng-template>
				<ng-template #elseBlock5><img [attr.src]="getTarotImagePath(5)" /></ng-template>
				
			</div>
			<div class="sel-item2">
				<p>
					{{card_mode_text}} &nbsp;  Tarot Reading
				</p> 
				<p>Focus on your question !</p>  
				<p>&</p> 
				<p>Pick {{card_mode_text1}}</p>
			</div>
			<div class="sel-item3">
				<div class="sel-item3-container">
					<div class="back-reading">Back To New Reading</div>
					<div class="arrow-symbol">
						<div >
							<i class='fa fa-chevron-up'></i>
						</div>												
						<div class="arrow-dash"></div>
						<div class="arrow-down">
							<i class='fa fa-chevron-down'></i>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="sel-cards">
			<div class="sel-cards-imgs">
				<img  />
				<img  />
				<img  />
				<img  />
				<img  />
				<img  />
				<img  />
				<img  />

				<img  />
				<img  />
				<img  />
				<img  />
				<img  />
				<img  />
				<img  />
				<img  />

				<img  />
				<img  />
				<img  />
				<img  />
				<img  />
				<img  />	
				
			</div>
			<div class="sel-cards-arc"></div>
		</div>
	</div>
</div>


