<div class="select-card">
	<div class="select-card-container">
		<div class="sel-title">Tarot Reading</div>
		<div class="sel-items">
			<div class="sel-item1">
				<img src="assets/img/tarot/tarot5.png" />
			</div>
			<div class="sel-item2">
				<p>
					Single Card &nbsp;  Tarot Reading
				</p> 
				<p>Focus on your question and select your card</p>  
				<p>&</p> 
				<p>Pick one card</p>
			</div>
			<div class="sel-item3">
				<div class="sel-item3-container">
					<div class="back-reading">Back To New Reading</div>
					<div class="arrow-symbol">
						<div >
							<i class='fa fa-chevron-up'></i>
						</div>												
						<div class="arrow-dash"></div>
						<div class="arrow-down">
							<i class='fa fa-chevron-down'></i>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="sel-cards">
			<div class="sel-cards-imgs">
				<img src="assets/img/tarot/tarot6.jpg" />
				<img src="assets/img/tarot/tarot6.jpg" />
				<img src="assets/img/tarot/tarot6.jpg" />
				<img src="assets/img/tarot/tarot6.jpg" />
				<img src="assets/img/tarot/tarot6.jpg" />
				<img src="assets/img/tarot/tarot6.jpg" />
				<img src="assets/img/tarot/tarot6.jpg" />
			</div>
			<div class="sel-cards-arc"></div>
		</div>
	</div>
</div>


