.celtic-cards {
	width: 100%;
	height: 100vh;
	position: absolute;
	font-family: Oswald;
	overflow: hidden;
	background-color: #deddd6;
}

.celtic-cards-container {
	width: 100%;
	height: 100%;
}

.celtic-left-detail {
	width: 70%;
	height: 100%;
	float: left;
	.celtic-title {
		font-size: 40px;
		color: #5A3594;
		padding: 3% 0 0 0%;
	 	// background: red;
	 	margin-top: 4%;
	 	span {
	 		position: relative;
	 		left: 50%;
	 	}
	}
	.celtic-img {
		position: relative;
		//background: gray;
		display: table;
		width: 100%;
		margin-left: 10%;
		.empty-img {
			width: 35%;
			height: 100px;
			float: left;
			//background: pink;
		}
		.left-imgs {
			width: 40%;
			float: left;
			position: relative;
			margin-top: 10%;
			//background: yellow;
			//padding-left: 40%;
			.five-img {
				position: relative;
				left: 30%;
				img {
					height: 15vh;
				}
				
			}
			.middle-imgs {
				display: table;
				width: 100%;
				margin: 20px 0;
				.three-img {
					width: 30%;
					float: left;
					img {
						height: 15vh;
					}
				}
				.one-img {
					width: 30%;
					float: left;
					img {
						height: 15vh;

					}
				}
				.four-img {
					width: 30%;
					float: left;
					img {
						height: 15vh;
					}
				}
				.two-img {
					position: absolute;
					left: 30%;
					top: 40%;
					img {
						height: 15vh;
						transform: rotate(90deg);
					}
				}
			}
			.six-img {
				position: relative;
				left: 30%;
				img {
					height: 15vh;
				}
			}
		}
		.right-imgs {
			position: relative;
			//background: pink;
			width: 25%;
			float: left;
			margin-top: 5%;
			.ten-img {
				img {
					height: 15vh;
				}
				margin-bottom: 20px;
			}
			.nine-img {
				img {
					height: 15vh;
				}
				margin-bottom: 20px;
			}
			.eight-img {
				img {
					height: 15vh;
				}
				margin-bottom: 20px;
			}
			.seven-img {
				img {
					height: 15vh;
				}
			}
		}
	}
	.hand-down {
		text-align: center;
		margin-left: 21%;
		img {
			cursor: pointer;
			outline: none !important;
			width: 6%;
			height: 8vh;
		}
	}
	.hand-down img:hover {
		transform: scale(1.1);
		//box-shadow: 10px 10px 5px #000000;
	}
}

.celtic-right-detail {
	width: 30%;
	height: 100%;
	float: right;
	//background: blue;
	.celtic-sel-item3-container {
		width: 100%;
		position: relative;
	    display: table;
	    margin-top: 28%;
		margin-left: 43%;
		.celtic-back-reading {
			float: left;
			font-size: 22px;
			color: #5A3594;
			margin-top: 3vh;
			div {
				text-align: right;
				cursor: pointer;
				outline: none;
			}
		}
		.arrow-symbol {
			float: left;
			margin-left: 30px;
			.arrow-dash {
				position: relative;
				margin-left: 9px;
				margin-top: -40px;
				width: 2px;
			    height: 22vh;
			    background-image: linear-gradient(to bottom, transparent 50%, #5A3594 50%);
			    background-size: 50px 50px;
			}
			i:nth-child(1) {
				font-size:20px;
				color:#5A3594;
			}

			i:nth-child(2) {
				font-size:20px;
				color:#5A3594;
				
			}
			.arrow-down {
				margin-top: -14px;
			}
		}
	}

	.right-img {
		position: relative;
		height: 15%;
		width: 30%;
		top: 30%;
		left: 50%;
		//background: red;
		img {
			width: 100%;
			height: 100%;
		}
	}
	

}

.left_triangle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-right: 30vh solid transparent;
    border-bottom: 50vh solid #5A3594;
    z-index: 0;
}

@media screen and (max-width: 600px) {
	.left_triangle {
		display: none;
	}
	.celtic-left-detail {
		width: 70%;
		height: 100%;
		float: left;
		.celtic-title {
			font-size: 30px;
			color: #5A3594;
			padding: 3% 0 0 0%;
			 // background: red;
			 margin-top: 8%;
			 span {
				 position: relative;
				 left: 32%;
			 }
		}
		.celtic-img {
			position: relative;
			margin-left: 23%;
    		margin-top: 10%;
			.empty-img {
				width: 0%;
			}
			.left-imgs {
				width: 60%;
				margin-top: 10%;
			}
			.right-imgs {
				position: relative;
				//background: pink;
				width: 25%;
				float: left;
				margin-top: 5%;
				
			}
		}
		.hand-down {
			margin-left: 21%;
			img {
				width:6vh;
				height: 8vh;
			}
		}
		.hand-down img:hover {
			transform: scale(1.1);
		}
	}
	
	.celtic-right-detail {
		.celtic-sel-item3-container {
			width: 100%;
			margin-top: 80%;
			margin-left: 36%;
			.celtic-back-reading {
				font-size: 16px;
				margin-top: 3vh;
				div {
					position: relative;
    				left: -25px;
				}
			}
			.arrow-symbol {
				margin-left: 30px;
				.arrow-dash {
					position: relative;
					margin-left: 7px;
					margin-top: -40px;
					width: 2px;
					height: 22vh;
				}
				i:nth-child(1) {
					font-size:16px;
				}
	
				i:nth-child(2) {
					font-size:16px;
					
				}
				.arrow-down {
					margin-top: -14px;
				}
			}
		}
	
		.right-img {
			position: relative;
			height: 15%;
			width: 30%;
			top: 30%;
			left: 50%;
			//background: red;
			img {
				width: 100%;
				height: 100%;
			}
		}
		
	
	}
}
@media screen and (min-width:601px) and (max-width:900px) {
	.left_triangle {
		display: none;
	}
	.celtic-left-detail {
		width: 70%;
		height: 100%;
		float: left;
		.celtic-title {
			font-size: 30px;
			color: #5A3594;
			padding: 3% 0 0 0%;
			 // background: red;
			 margin-top: 8%;
			 span {
				 position: relative;
				 left: 32%;
			 }
		}
		.celtic-img {
			position: relative;
			margin-left: 23%;
    		margin-top: 10%;
			.empty-img {
				width: 0%;
			}
			.left-imgs {
				width: 60%;
				margin-top: 10%;
			}
			.right-imgs {
				position: relative;
				//background: pink;
				width: 25%;
				float: left;
				margin-top: 5%;
				
			}
		}
		.hand-down {
			margin-left: 21%;
			img {
				width:6vh;
				height: 8vh;
			}
		}
		.hand-down img:hover {
			transform: scale(1.1);
		}
	}
	
	.celtic-right-detail {
		.celtic-sel-item3-container {
			width: 100%;
			margin-top: 80%;
			margin-left: 42%;
			.celtic-back-reading {
				font-size: 16px;
				margin-top: 3vh;
				div {
					position: relative;
    				left: -25px;
				}
			}
			.arrow-symbol {
				margin-left: 30px;
				clear: both;
				.arrow-dash {
					position: relative;
					margin-left: 7px;
					margin-top: -40px;
					width: 2px;
					height: 22vh;
				}
				i:nth-child(1) {
					font-size:16px;
				}
	
				i:nth-child(2) {
					font-size:16px;
					
				}
				.arrow-down {
					margin-top: -14px;
				}
			}
		}
	
		.right-img {
			position: relative;
			height: 15%;
			width: 30%;
			top: 30%;
			left: 50%;
			//background: red;
			img {
				width: 100%;
				height: 100%;
			}
		}
		
	
	}
}
// @media screen and (min-width:901px) and (max-width:1200px)
// @media screen and (min-width:1201px) and (max-width:1900px)
// @media screen and (min-width:1900px) and (max-width:2560px)
// @media screen and (min-width:2560px)
