.celtic-cards {
	width: 100%;
	height: 100vh;
	position: absolute;
	font-family: Oswald;
	overflow: hidden;
}

.celtic-cards-container {
	width: 100%;
	height: 100%;
}

.celtic-left-detail {
	width: 70%;
	height: 100%;
	float: left;
	.celtic-title {
		font-size: 40px;
		color: #5A3594;
		padding: 3% 0 0 0%;
	 	// background: red;
	 	margin-top: 4%;
	 	span {
	 		position: relative;
	 		left: 40%;
	 	}
	}
	.celtic-img {
		position: relative;
		//background: gray;
		display: table;
		width: 100%;
		//margin-left: 40%;
		.empty-img {
			width: 35%;
			height: 100px;
			float: left;
			//background: pink;
		}
		.left-imgs {
			width: 40%;
			float: left;
			position: relative;
			margin-top: 10%;
			//background: yellow;
			//padding-left: 40%;
			.five-img {
				position: relative;
				left: 30%;
				img {
					height: 15vh;
				}
				
			}
			.middle-imgs {
				display: table;
				width: 100%;
				margin: 1% 0;
				.three-img {
					width: 30%;
					float: left;
					img {
						height: 15vh;
					}
				}
				.one-img {
					width: 30%;
					float: left;
					img {
						height: 15vh;

					}
				}
				.four-img {
					width: 30%;
					float: left;
					img {
						height: 15vh;
					}
				}
				.two-img {
					position: absolute;
					left: 30%;
					top: 40%;
					img {
						height: 15vh;
						transform: rotate(90deg);
					}
				}
			}
			.six-img {
				position: relative;
				left: 30%;
				img {
					height: 15vh;
				}
			}
		}
		.right-imgs {
			position: relative;
			//background: pink;
			width: 25%;
			float: left;
			margin-top: 5%;
			.ten-img {
				img {
					height: 15vh;
				}
			}
			.nine-img {
				img {
					height: 15vh;
				}
			}
			.eight-img {
				img {
					height: 15vh;
				}
			}
			.seven-img {
				img {
					height: 15vh;
				}
			}
		}
	}
	.hand-down {
		text-align: center;
		img {
			cursor: pointer;
			outline: none !important;
			width: 10%;
			height: 10vh;
		}
	}
}

.celtic-right-detail {
	width: 30%;
	height: 100%;
	float: right;
	//background: blue;
	.celtic-sel-item3-container {
		width: 100%;
		position: relative;
	    display: table;
	    margin-top: 28%;
		margin-left: 25%;
		.celtic-back-reading {
			float: left;
			font-size: 22px;
			color: #5A3594;
			margin-top: 30px;
			div {
				text-align: right;
				cursor: pointer;
			}
			div:nth-child(2) {
				text-align: right;
				margin-top: 60px;
			}
			div:nth-child(3) {
				text-align: right;
				margin-top: 60px;
			}
		}
		.arrow-symbol {
			float: left;
			margin-left: 30px;
			.arrow-dash {
				position: relative;
				margin-left: 10px;
				margin-top: -40px;
				width: 3px;
			    height: 300px;
			    background-image: linear-gradient(to bottom, transparent 50%, #5A3594 50%);
			    background-size: 50px 50px;
			}
			i:nth-child(1) {
				font-size:22px;
				color:#5A3594;
			}

			i:nth-child(2) {
				font-size:22px;
				color:#5A3594;
				
			}
			.arrow-down {
				margin-top: -14px;
			}
		}
	}

	.right-img {
		position: relative;
		height: 15%;
		width: 30%;
		top: 30%;
		left: 20%;
		//background: red;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.left_triangle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-right: 30vh solid transparent;
    border-bottom: 50vh solid #5A3594;
    z-index: 0;
}