<div class="show-cards">
	<div class="show-cards-container">
		<div class="left-detail">
			<div class="cards-pic">
				<div class="pic1">
					<div class="pic-img"><img src="assets/img/tarot/ridercard/world.png"></div>
					<div class="pic-name">1/Past</div>					
				</div>
				<div class="pic2">
					<div class="pic-img"><img src="assets/img/tarot/ridercard/tower.jpg"></div>
					<div class="pic-name">2/Present</div>
				</div>
				<div class="pic3">
					<div class="pic-img"><img src="assets/img/tarot/ridercard/sun.jpg"></div>
					<div class="pic-name">3/Future</div>
				</div>
			</div>
			<div class="cards-content">
				<div class="con1">
					<div class="con-img"><img src="assets/img/tarot/ridercard/world.jpg"></div>
					<div class="con-detail">
						<div class="con-detail-title"> THE WORLD </div>
						<div class="con-detail-content">
							The World card represents a union with the whole, realization of your place in the Universe, a strong feeling of oneness with everything. Your problem fade with the sense that you are in touch with the entire Universe. This is a very good card for psychic power, for insight into hidden things, and for completing any sort of material or spiritual task.
						</div>
					</div>
				</div>
				<div class="con2">
					<div class="con-img"><img src="assets/img/tarot/ridercard/world.jpg"></div>
					<div class="con-detail">
						<div class="con-detail-title"> THE WORLD </div>
						<div class="con-detail-content">
							The World card represents a union with the whole, realization of your place in the Universe, a strong feeling of oneness with everything. Your problem fade with the sense that you are in touch with the entire Universe. This is a very good card for psychic power, for insight into hidden things, and for completing any sort of material or spiritual task.
						</div>
					</div>
				</div>
				<div class="con3">
					<div class="con-img"><img src="assets/img/tarot/ridercard/world.jpg"></div>
					<div class="con-detail">
						<div class="con-detail-title"> THE WORLD </div>
						<div class="con-detail-content">
							The World card represents a union with the whole, realization of your place in the Universe, a strong feeling of oneness with everything. Your problem fade with the sense that you are in touch with the entire Universe. This is a very good card for psychic power, for insight into hidden things, and for completing any sort of material or spiritual task.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-detail">
			<div class="sel-item3-container">
				<div class="back-reading">
					<div routerLink="/tarot" >Start To New Reading</div>
					<div>Book a privet session</div>
				</div>
				<div class="arrow-symbol">
					<div >
						<i class='fa fa-chevron-up'></i>
					</div>												
					<div class="arrow-dash"></div>
					<div class="arrow-down">
						<i class='fa fa-chevron-down'></i>
					</div>
				</div>
			</div>
			<div class="right-img">
				<img src="assets/img/tarot/tarot4.png" />
			</div>
		</div>
		<div class="left_triangle"></div>
	</div>
</div>
