<div class="show-cards">
	<div class="show-cards-container">
		<div class="left-detail">
			<div class="cards-pic">
				<div class="pic1">
					<div class="pic-img"><img src={{imagePath1}}></div>
					<div class="pic-name">1/Past</div>					
				</div>
				<div class="pic2">
					<div class="pic-img"><img src={{imagePath2}}></div>
					<div class="pic-name">2/Present</div>
				</div>
				<div class="pic3">
					<div class="pic-img"><img src={{imagePath3}}></div>
					<div class="pic-name">3/Future</div>
				</div>
			</div>
			<div class="cards-content">
				<div class="con1">
					<div class="con-img"><img src={{imagePath1}}></div>
					<div class="con-detail">
						<div class="con-detail-title"> {{deck_title1}} </div>
						<div class="con-detail-content">
							{{deck_detail1}}
						</div>
					</div>
				</div>
				<div class="con2">
					<div class="con-img"><img src={{imagePath2}}></div>
					<div class="con-detail">
						<div class="con-detail-title"> {{deck_title2}} </div>
						<div class="con-detail-content">
							{{deck_detail2}}
						</div>
					</div>
				</div>
				<div class="con3">
					<div class="con-img"><img src={{imagePath3}}></div>
					<div class="con-detail">
						<div class="con-detail-title"> {{deck_title3}} </div>
						<div class="con-detail-content">
							{{deck_detail3}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-detail">
			<div class="sel-item3-container">
				<div class="back-reading">
					<div routerLink="/tarot" >Start To New Reading</div>
					<div>Book a privet session</div>
				</div>
				<div class="arrow-symbol">
					<div >
						<i class='fa fa-chevron-up'></i>
					</div>												
					<div class="arrow-dash"></div>
					<div class="arrow-down">
						<i class='fa fa-chevron-down'></i>
					</div>
				</div>
			</div>
			<div class="right-img">
				<img src="assets/img/tarot/tarot4.png" />
			</div>
		</div>
		<div class="left_triangle"></div>
	</div>
</div>

