<div class="press-release">
    <div class="image_display">
        <div class="image_hover">
            <div class="img_zone img-hover-zoom--brightness">
                <img src={{imagePath}} />
            </div>
            <style>
                /* Brightness-zoom Container */
                .img-hover-zoom--brightness img {
                /* transition: transform 2s, filter 1.5s ease-in-out; */
                /* transform-origin: center center;
                filter: brightness(50%); */
                    
                    
                }

                /* The Transformation */
                /* .img-hover-zoom--brightness:hover img {
                filter: brightness(100%);
                transform: scale(1.3);
                } */

                .image-animate img {
                    filter: brightness(100%);
                    transform: scale(1.3);
                }
            </style>
        </div>
    </div>
    <div class="article_titles">
        <div class="press_title">
                P &nbsp;&nbsp;R&nbsp;&nbsp;E&nbsp;&nbsp;S&nbsp;&nbsp;S
        </div>
        <div class="article_container">
            <div class="articles1 ar-item">
                <p><span>Text1</span></p>
                <p><span>Text2</span></p>
                <p><span>Text3</span></p>
            </div>
            <div class="articles2 ar-item">
                <p><span>Text4</span></p>
                <p><span>Text5</span></p>
                <p><span>Text6</span></p>
            </div>
            <div class="articles3 ar-item">
                <p><span>Text7</span></p>
                <p><span>Text8</span></p>
                <p><span>Text9</span></p>
            </div>
            <div class="articles4 ar-item">
                <p><span>Text10</span></p>
                <p><span>Text11</span></p>
                <p><span>Text12</span></p>
            </div>
            <div class="articles5 ar-item">
                <p><span>Text13</span></p>
                <p><span>Text14</span></p>
                <p><span>Text15</span></p>
            </div>
        </div>
        
    </div>
</div>
