.press-release {
    width: 100%;
    height: 100vh;
    font-family: Oswald light;
    
    overflow: hidden;
}

.image_display {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    //background: #DCE6DD;
    .image_hover {
        width: 100%;
        height: 100%;
        position: absolute;
        background: #343434;
        
        .img_zone {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 70%;
            //background: green;
            text-align: center;
            overflow: hidden;
            img {
                position: relative;
                width: auto;
                height: 100%;
                
                
            }
        }
    }
    
}

.article_titles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
   
    background-color: #677276;
    .press_title {
        color: #5b6469;
        width: 100%;    
        text-align: center;
        top: 20%;
        position: absolute;
        font-size: 400px;
        
    }

    .article_container {
        width: 80%;
        height: 20%;
        position: relative;
        top: 75%;
        //background: red;
        color: white;
        display: flex;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
        font-size: 24px;
        .ar-item {
            //background: red;
        }
        .articles1 {
            width: 25%;
        }
        .articles2 {
            width: 25%;
        }
        .articles3 {
            width: 25%;
        }
        .articles4 {
            width: 25%;
        }

    }
}

