<div class="press-release">
    <div class="image_display">
        <div class="image_hover">
            <div class="img_zone">
                <div *ngIf="pressImgFlag; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock><img id="imageid" src={{imagePath}} /></ng-template>
                    <ng-template #elseBlock><img [attr.src]="getPressImagePath()" /></ng-template>
                
            </div>
        </div>
    </div>
    <div class="article_titles">
        <div class="press_title">
                P&nbsp;R&nbsp;E&nbsp;S&nbsp;S
        </div>
        <div class="article_container">
            <div class="articles1 ar-item">
                <p><span>"HELLO" Thailand front page</span></p>
                <p><span>"HELLO" THAILAND</span></p>
                <p><span>Enlightenmet with Ofer</span></p>
                <p><span>At The Hayyat Calina Mumbai</span></p>
                <p><span>The Stars Shine</span></p>
            </div>
            <div class="articles2 ar-item">
                <p><span>Sunday Read India</span></p>
                <p><span>Reading Indian Artists</span></p>
                <p><span>"HELLO" Magazine India</span></p>
                <p><span>Chiang mai Thailand</span></p>
                <p><span>Interview Chiang Mai</span></p>
            </div>
            <div class="articles3 ar-item">
                <p><span>like a Buddha</span></p>
                <p><span>Future On Ofer</span></p>
                <p><span>The Kabbalah Guru</span></p>
                <p><span>Spiritual Work Shop</span></p>
                <p><span>Horoscope For Bulgaria</span></p>
            </div>
            <div class="articles4 ar-item">
                <p><span>Helping Mumbai Celebs</span></p>
                <p><span>Ofer arrive to Mauritius</span></p>
                <p><span>Horoscope for "HELLO" Thailand</span></p>
                <p><span>HOROSCOPE FOR TURKEY</span></p>
                <p><span>Chiang Mai photos</span></p>
            </div>
        </div>
        
    </div>
</div>
