<div class="step-three">
    <div class="left-side">
        <div class="left-side-top">
            <div class="left-side-text">
                <p>
                    1980 <br />
                    After his marriage in 1980 he studies western
                    astrology, Date of birth numbers while researching
                    the secret old book of Kabbalah "Raziel The Angel". 
                    During that period he started to use th Hermetic
                    tarot cards which are base on Kabbalah wisdom
                    and hermetic secret. He then started to become
                    known for his ability to accurately predict people  
                    life.
                </p>
            </div>
        </div>
        <div class="left-side-bottom">
            <img src="../../../assets/img/about/his3.png" />
        </div>
    </div>
    <div class="right-side">
        <div class="right-side-top">
            <img src="../../../assets/img/about/his4.png"  />
        </div>
        <div class="right-side-bottom">
            <div class="right-side-text">
                <p>
                    1995 <br/>
                    His long research and experience helped him to 
                    develop a new approach to reading people natal 
                    charts. He is known to read birth chart in a different
                    way than western astrologers. He also use his 
                    Hermetic cards to give you a full information of your 
                    future life path. Those who consult him for years will 
                    testify that he is not only giving accurate life forecast,
                    He will also give you the right solutions to your problems.

                </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>