.step-three {
    width: 100%;
    height: 100vh;
    font-family: Oswald light;
    background: #F4F4F7;
}

.clear {
    clear: both;
}

.left-side {
    width: 50%;
    height: 96%;
    float: left;
    
    
    .left-side-top {
        width: 100%;
        height: 40%;
        // background: red;
        // background: green;
        
        .left-side-text {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -20%);
            // background: red;
            width: 60%;
            font-size: 32px;
        }
    }

    .left-side-bottom {
        width: 100%;
        height: 60%;
        // background: blue;
        text-align: center;
        img {
            position: relative;
            margin-top: 5%;
            width: 50%;
            height: 80%;
        }
    }


}

.right-side {
    width: 50%;
    height: 92%;
    float: right;
    // background: red;
    .right-side-top {
        width: 100%;
        height: 60%;
        // background: yellow;
        text-align: center;
        // vertical-align:bottom;
        img {
            
            position: relative;
            top: 10%;
            width: 50%;
            height: 90%;
        }
    }

    .right-side-bottom {
        width: 100%;
        height: 40%;
        // background: green;
        .right-side-text {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -70%);
            // background: red;
            width: 60%;
            font-size: 32px;
        }
    }


}


@media screen and (max-width: 600px) {
    .left-side, .right-side {
        width: 100%;
    }
    .left-side {
        .left-side-top {
            .left-side-text {
                font-size: 16px;
            }
        }
    }
    
    .right-side {
        .right-side-bottom {
            .right-side-text {
                font-size: 16px;
            }
        }
        
    }
    
}

@media screen and (min-width:601px) and (max-width:900px) {
    .left-side, .right-side {
        width: 100%;
    }
    .left-side {
        .left-side-top {
            .left-side-text {
                font-size: 16px;
            }
        }
    }
    
    .right-side {
        .right-side-bottom {
            .right-side-text {
                font-size: 16px;
            }
        }
        
    }
}
@media screen and (min-width:901px) and (max-width:1200px) {

    .left-side {
        .left-side-top {
            .left-side-text {
                font-size: 18px;
            }
        }
    }
    
    .right-side {
        .right-side-bottom {
            .right-side-text {
                font-size: 18px;
            }
        }
        
    }
}
@media screen and (min-width:1201px) and (max-width:1900px) {
    .left-side {
        .left-side-top {
            .left-side-text {
                font-size: 22px;
            }
        }
    }
    
    .right-side {
        .right-side-bottom {
            .right-side-text {
                font-size: 22px;
            }
        }
        
    }
}
