<div class="tarot">
	<div class="tarot_container">
		<div class="tarot_content">
			<div class="tarot_title">Tarot Reading</div>	
			<div class="tarot_deck">
				<div class="deck_title">
					<div class="main-dash"></div>
					<div> Select a Tarot deck </div>
				</div>
				<div class="classic_rider">
					<div class="classic_rider_text">Classic Rider Tarot Deck</div>
					<div class="classic_rider_img"> <img src="assets/img/tarot/tarot1.png" /> </div>
				</div>
				<div class="hermetic">
					<div class="hermetic_text">Hermetic Tarot</div>
					<div class="hermetic_img"> <img src="assets/img/tarot/tarot2.png" /> </div>
				</div>
				<div class="lenormand">
					<div class="lenormand_text">Tarot Madam Lenormand</div>
					<div class="lenormand_img"> <img src="assets/img/tarot/tarot3.png" /> </div>
				</div>
			</div>
			<div class="tarot_spread">
				<div class="spread_title"><div class="main-dash"></div> Select a Spread</div>
				<div class="first_mode">
					<div class="first_mode_img">
						<div class="first_mode_card"></div>
					</div>
					<div class="first_mode_text">
						<div>Single card Reading</div>
						<div>For Short Term result and Yes/No questions</div>
					</div>
				 </div>
				<div class="second_mode">
					<div class="second_mode_img">
						<div class="second_mode_card1"></div>
						<div class="second_mode_card2"></div>
						<div class="second_mode_card3"></div>
					</div>
					<div class="second_mode_text">
						<div>Three card Reading</div>
						<div> Past-Present-Future, To show Particular Situation </div>
					</div>
				</div>
				<div class="third_mode">
					<div class="third_mode_img">
						<div class="third_row1"><div class="third_mode_row1_card1"></div></div>
						<div class="third_row2">
							<div class="third_mode_row2_card1"></div>
							<div class="third_mode_row2_card2"></div>
							<div class="third_mode_row2_card3"></div>
						</div>
						<div class="third_row3"><div class="third_mode_row3_card1"></div>
					</div>
					
				</div>
				<div class="third_mode_text">
					<div class="third_mode_text_col1">
						<div class="third_col1_card1"></div>
						<div class="third_col1_card2"></div>
						<div class="third_col1_card3"></div>
						<div class="third_col1_card4"></div>
					</div>
					<div class="third_mode_text_col2">
						<div>Celtic Cross deep Reading</div>
						<div> A Deep Reading, current situation, what effecting it & future result</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="black_raven">
			<img src="assets/img/tarot/tarot4.png" (click)="flyRaven()" />
			<img src="assets/img/tarot/tarot6.gif">
			<div class="raven_text" >To Get Your Reading! Click on the Crow</div>
		</div>
		<div class="left_triangle"></div>
	</div>
</div>

