.tarot {
	width: 100%;
	height: 100vh; 
	position: absolute;
	overflow: hidden;
	font-family: Oswald;
	z-index: -10;
	background: #deddd6;
	// background: url('../../assets/img/tarot/tarot10.jpg') no-repeat center center fixed; 
  	// -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;		
}

.tarot_container {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

.left_triangle {

 	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
	
 	.tri-layer {

    	position: absolute;
   		width: 20%;
   		height: 70%;
   		top: 14%;
   		background: url('../../assets/img/tarot/tarot12.png') no-repeat; 
   		background-size: 100% 100%;
  
    	opacity: 0.8;
	    .tri-img {
	    	position: absolute;
	    	width: 100%;
	    	height: 100%;
	    	top: 2%;
	    	//background-color: red;
	    	background: linear-gradient(to bottom left, transparent 0%, transparent 50%, #5A3594 50%, #5A3594 100%);
	    	opacity: 0.4;
	    }
 	}
}

.tarot_content {

	z-index: 20;
	width: 100%;
	height: 100%;
	display: table;
	// background-color: blue;
	.tarot_title {
		//background-color: yellow;
		text-align: center;
		font-size: 80px;
		color: #5A3594;
		letter-spacing: 6px;
		padding: 4% 0 1% 0;
		font-weight: bold;
		cursor: pointer;
	}
	.tarot_deck {
		width: 50%;
		height: 100%;
		float: left;
		// background: red;
		padding-left: 13%;
		z-index: 20;
		.deck_title {
			font-size: 36px;
			margin-bottom: 10%;
			margin-left: 20%;
			.main-dash {
				position: relative;
			    width: 45px;
			    border-bottom: 1px solid black;
			    left: -75px;
			    top: 29px;	
			}
		}

		.classic_rider {
			cursor: pointer;
			display: table;
			margin-top: 5%;
			
			.classic_rider_text {
				font-size: 26px;
				width: 50%;
				padding-top: 10%;
				float: left;
				//text-align: right;				
			}
			
			.classic_rider_img {
				width: 25%;
				float: left;
				img {
					cursor: pointer;
					width: 100%;
					height: 100%;
				}
				
			}
			.left-hand1 {
				position: relative;
				left: 5%;				
				width: 25%;
				float: left;
				visibility: hidden;
				img {
					position: relative;
					margin-top: 30%;
				}
			}
		}
		.classic_rider:hover {
			transform: scale(1.2);
			text-shadow: 10px 10px 5px #5A3594;
		}
		.hermetic {
			cursor: pointer;
			display: table;
			margin-top: 5%;
			z-index: 30;
			//background: yellow;
			.hermetic_text {
				font-size: 26px;
				text-align: right;
				width: 50%;
				padding-top: 10%;
				float: left;
				padding-right: 8%;
			}
			.hermetic_img {
				width: 25%;
				float: left;
				img {
					width: 85%;
					height: 100%;
					margin-left: 80%;
					
				}
			}
			.left-hand2 {
				float: left;
				width: 25%;
			
				position: relative;
				left: 30%;
				visibility: hidden;
				img {
					position: relative;
					margin-top: 40%;
				}
				//background-color: red;
			}
		}
		.hermetic:hover {
			transform: scale(1.2);
			text-shadow: 10px 10px 5px #5A3594;
		}
		.lenormand {
			display: table;
			margin-top: 5%;
			cursor: pointer;
			.lenormand_text {
				font-size: 26px;
				width: 35%;
				padding-top: 10%;
				float: left;
			}
			.lenormand_img {
				width: 25%;
				float: left;
				img {
					width: 100%;
					height: 100%;
					margin-top: 4%;
					cursor: pointer;
				}				
			}
			.left-hand3 {
				width: 25%;
				float: left;
				position: relative;
				left: 5%;
				visibility: hidden;
				img {
					position: relative;
					margin-top: 30%;

				}
			}
		}
		.lenormand:hover {
			transform: scale(1.2);
			text-shadow: 10px 10px 5px #5A3594;
		}
	}
	.tarot_spread {
		width: 50%;
		height: 100%;
		float: left;
		//background: blue;

		.spread_title {
			font-size: 36px;
			margin-bottom: 10%;
			margin-left: 46%;
			.main-dash {
				position: relative;
			    width: 45px;
			    border-bottom: 1px solid black;
			    left: -75px;
			    top: 29px;	
			}
		}

		.first_mode {
			cursor: pointer;
			width: 100%;
			display: table;
			margin-top: 5%;

			.first_mode_img {
				cursor: pointer;
				width: 50%;
				float: left;
				padding-left: 30%;
				.first_mode_card {
					width: 4vh;
					height: 6.5vh;
					border: 1px solid #5A3594;
				}
			}

			.first_mode_text {
				font-size: 26px;
				width: 50%;
				padding-top: 2%;
				float: left;
				//background: red;
				//display: table;
				position: relative;
				// div {
				// 	float: left;
				// }
				div:nth-child(2) {
					font-size: 20px;
				}
				img {
					position: relative;
					left: 60%; top: -70px;
					visibility: hidden;
				}
			}
			
		}

		.first_mode:hover {
			transform: scale(1.2);
			text-shadow: 10px 10px 5px #5A3594;
		}

		.second_mode {
			width: 100%;
			display: table;
			margin-top: 5%;
			cursor: pointer;
			.second_mode_img {
				cursor: pointer;
				width: 50%;
				float: left;
				display: table;
				padding-left: 23%;
				.second_mode_card1 {
					width: 4vh;
					height: 6.5vh;
					border: 1px solid #5A3594;
					margin-right: 10%;
					float: left;
				}
				.second_mode_card2 {
					width: 4vh;
					height: 6.5vh;
					border: 1px solid #5A3594;	
					margin-right: 10%;
					float: left;
				}
				.second_mode_card3 {
					width: 4vh;
					height: 6.5vh;
					border: 1px solid #5A3594;
					float: left;
				}
			}
			.second_mode_text {
				font-size: 26px;
				width: 50%;
				float: left;
				padding-top: 2%;
				div:nth-child(2) {
					font-size: 20px;
				}
				img {
					position: relative;
					left: 60%; top: -70px;
					visibility: hidden;
				}
			}
		}
		.second_mode:hover {
			transform: scale(1.2);
			text-shadow: 10px 10px 5px #5A3594;
		}

		.third_mode {
			cursor: pointer;
			width: 100%;	
			display: table;
			margin-top: 5%;
			z-index: 40;
			.third_mode_img {
				cursor: pointer;
				width: 50%;
				float: left;
				display: table;
				padding-left: 23%;
				.third_row1 {
					width: 100%;
					padding-left: 26%;
					padding-bottom: 5%;
					.third_mode_row1_card1 {

						width: 4vh;
						height: 6.5vh;
						border: 1px solid #5A3594;
					}
				}
				.third_row2 {
					display: table;
					float: left;
					width: 100%;
					padding-left: 0%;
					padding-bottom: 5%;
					.third_mode_row2_card1 {
						width: 4vh;
						height: 6.5vh;
						border: 1px solid #5A3594;
						margin-right: 10%;
						float: left;
					}
					.third_mode_row2_card2 {
						width: 4vh;
						height: 6.5vh;
						border: 1px solid #5A3594;
						margin-right: 10%;
						float: left;
					}
					.third_mode_row2_card3 {
						width: 4vh;
						height: 6.5vh;
						border: 1px solid #5A3594;
						float: left;
					}
				}
				.third_row3 {
					float: left;
					padding-left: 26%;
					padding-bottom: 5%;
					.third_mode_row3_card1 {
						width: 4vh;
						height: 6.5vh;
						border: 1px solid #5A3594;
					}
				}

				
			}
			
			.third_mode_text {
				
				display: table;
				position: relative;
				left: -6%;
				.third_mode_text_col1 {
					float: left;
					width: 10%;
					// background-color: red;
					.third_col1_card1 {
						width: 4vh;
						height: 6.5vh;
						border: 1px solid #5A3594;
						margin-bottom: 10%;
					}
					.third_col1_card2 {
						width: 4vh;
						height: 6.5vh;
						border: 1px solid #5A3594;
						margin-bottom: 10%;
					}
					.third_col1_card3 {
						width: 4vh;
						height: 6.5vh;
						border: 1px solid #5A3594;
						margin-bottom: 10%;
					}
					.third_col1_card4 {
						width: 4vh;
						height: 6.5vh;
						border: 1px solid #5A3594;
					}
				}
				.third_mode_text_col2 {
					width: 90%;
					float: left;
					font-size: 26px;
					float: left;
					padding-top: 20%;
					padding-left: 4%;
					padding-right: 10%;
					//text-align: center;
					div:nth-child(2) {
						font-size: 20px;
					}
					img {
						position: relative;
						left: 90%; top: -110px;
						visibility: hidden;
					}
				}
				
			}
		}
		.third_mode:hover {
			transform: scale(1.2);
			text-shadow: 10px 10px 5px #5A3594;
		}

	}
	
}

.black_raven {
	z-index: 10;
	width: 200px;
	position: absolute;
	bottom: 4%;
	left: 45%;
	text-align: center;
	//background: red;
	img:nth-child(1) {
		cursor: pointer;
		position: relative;
		// left: 6%;
		width: 100%;
		height: 100%;
		outline: none !important;
		z-index: 50;
	}
	img:nth-child(2) {
		cursor: pointer;
		position: relative;
		left: 45%;
		visibility: hidden;
		width: 12%;
		height: 12%;
	}
	.raven_text {
		cursor: pointer;
		font-size: 30px;
		color: #5A3594;
		width: 500px;
		position: relative;
		left: -80%;
	}
}

@media screen and (max-width: 600px) {
	.tarot {
		overflow-y: scroll;
	}
	.left_triangle {
		display: none;
	}
	.black_raven {
		width: 100px;
		position: absolute;
		left: 41%;
    	top: 186%;
		img:nth-child(1) {
			width: 10vh;
			height: 10vh;
		}
		img:nth-child(2) {
			left: 45%;
			width: 10vh;
			height: 10vh;
		}
		.raven_text {
			font-size: 18px;
			width: 300px;
			left: -100%;
			padding-bottom: 20px;
		}
	}
	.tarot_content {
		.tarot_title {
			font-size: 30px;
			padding: 8% 0 5% 0;
		}
		.tarot_deck {
			width: 100%;
			height: 75vh;
			padding-left: 5%;
			.deck_title {
				font-size: 20px;
				.main-dash {
					width: 20px;
					left: -35px;
					top: 16px;	
				}
			}
			.classic_rider {
				display: table;
				margin-top: 5%;
				.classic_rider_text {
					font-size: 18px;
					width: 40%;
					padding-top: 10%;	
				}
				
				.classic_rider_img {
					width: 25%;
					margin-top: 3%;
					img {
						width: 80%;
						height: 80%;
					}
				}
				.left-hand1 {
					left: 2%;				
					width: 35%;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 10%;
					}
				}
			}
			.classic_rider:hover {
				transform: scale(1);
			}
			.hermetic {
				display: table;
				margin-top: 10%;
				.hermetic_text {
					font-size: 18px;
					//text-align: right;
					width: 40%;
					padding-top: 8%;
					float: left;
					padding-right: 8%;
				}
				.hermetic_img {
					width: 25%;
					float: left;
					img {
						width: 50%;
						height: 50%;
						margin-left: 10%;
					}
				}
				.left-hand2 {
					float: left;
					width: 35%;
					position: relative;
					//left: 30%;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 15%;
						left: -80%;
					}
				}
			}
			.hermetic:hover {
				transform: scale(1);
			}
			.lenormand {
				display: table;
				margin-top: 10%;
				.lenormand_text {
					font-size: 18px;
					width: 40%;
				}
				.lenormand_img {
					width: 25%;
					img {
						margin-top: 10%;
					}				
				}
				.left-hand3 {
					width: 35%;
					left: 5%;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 15%;
					}
				}
			}
			.lenormand:hover {
				transform: scale(1);
			}
		}
		.tarot_spread {
			width: 100%;
			height: 120vh;
			//background: blue;
			padding-bottom: 10vh;	
			.spread_title {
				font-size: 20px;
				margin-bottom: 10%;
				margin-left: 25%;
				.main-dash {
					width: 20px;
					left: -35px;
					top: 16px;	
				}
			}
	
			.first_mode {
				margin-top: 5%;
				.first_mode_img {
					position: relative;
					left: -13%;
					padding-top: 3%;
					width: 30%;
				}
	
				.first_mode_text {
					font-size: 16px;
					width: 50%;
					padding-top: 2%;
					float: left;
					position: relative;
					div:nth-child(2) {
						font-size: 16px;
					}
					img {
						position: relative;
						left: 88%; top: -70px;
						visibility: hidden;
					}
				}
				
			}
	
			.first_mode:hover {
				transform: scale(1);
			}
	
			.second_mode {
				margin-top: 5%;
				.second_mode_img {
					width: 40%;
					padding-left: 8%;
				}
				.second_mode_text {
					font-size: 16px;
					padding-top: 0%;
					width: 60%;
					div:nth-child(2) {
						font-size: 16px;
						width: 45%;
					}
					img {
						position: relative;
						left: 56%;
						top: -100px;
						visibility: hidden;
					}
				}
			}
			.second_mode:hover {
				transform: scale(1);
			}
	
			.third_mode {
				margin-top: 5%;
				.third_mode_img {
					width: 40%;
					padding-left: 3%;
				}
				
				.third_mode_text {
					left: -6%;
					.third_mode_text_col1 {
						float: left;
						width: 10%;						
					}
					.third_mode_text_col2 {
						font-size: 18px;
						div:nth-child(2) {
							font-size: 16px;
						}
						img {
							position: relative;
							left: 68%; top: -110px;
							visibility: hidden;
						}
					}
					
				}
			}
			.third_mode:hover {
				transform: scale(1);
			}
	
		}
	}
	
}

@media screen and (min-width:601px) and (max-width:900px) {
	.tarot {
		overflow-y: scroll;
	}
	.left_triangle {
		display: none;
	}
	.black_raven {
		width: 100px;
		position: absolute;
		left: 41%;
    	top: 186%;
		img:nth-child(1) {
			width: 10vh;
			height: 10vh;
		}
		img:nth-child(2) {
			left: 45%;
			width: 10vh;
			height: 10vh;
		}
		.raven_text {
			font-size: 18px;
			width: 300px;
			left: -100%;
		}
	}
	.tarot_content {
		.tarot_title {
			font-size: 30px;
			padding: 8% 0 5% 0;
		}
		.tarot_deck {
			width: 100%;
			height: 75vh;
			padding-left: 5%;
			.deck_title {
				font-size: 20px;
				.main-dash {
					width: 20px;
					left: -35px;
					top: 16px;	
				}
			}
			.classic_rider {
				display: table;
				margin-top: 5%;
				.classic_rider_text {
					font-size: 18px;
					width: 40%;
					padding-top: 10%;	
				}
				
				.classic_rider_img {
					width: 25%;
					margin-top: 3%;
					img {
						width: 80%;
						height: 80%;
					}
				}
				.left-hand1 {
					left: 2%;				
					width: 35%;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 10%;
					}
				}
			}
			.classic_rider:hover {
				transform: scale(1);
			}
			.hermetic {
				display: table;
				margin-top: 10%;
				.hermetic_text {
					font-size: 18px;
					//text-align: right;
					width: 40%;
					padding-top: 8%;
					float: left;
					padding-right: 8%;
				}
				.hermetic_img {
					width: 25%;
					float: left;
					img {
						width: 50%;
						height: 50%;
						margin-left: 55%;
					}
				}
				.left-hand2 {
					float: left;
					width: 35%;
					position: relative;
					//left: 30%;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 15%;
						left: -40%;
					}
				}
			}
			.hermetic:hover {
				transform: scale(1);
			}
			.lenormand {
				display: table;
				margin-top: 10%;
				.lenormand_text {
					font-size: 18px;
					width: 40%;
				}
				.lenormand_img {
					width: 25%;
					img {
						margin-top: 10%;
					}				
				}
				.left-hand3 {
					width: 35%;
					left: 5%;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 15%;
					}
				}
			}
			.lenormand:hover {
				transform: scale(1);
			}
		}
		.tarot_spread {
			width: 100%;
			height: 120vh;
			//background: blue;
			padding-bottom: 10vh;	
			.spread_title {
				font-size: 20px;
				margin-bottom: 10%;
				margin-left: 25%;
				.main-dash {
					width: 20px;
					left: -35px;
					top: 16px;	
				}
			}
	
			.first_mode {
				margin-top: 5%;
				.first_mode_img {
					position: relative;
					left: -13%;
					padding-top: 3%;
					width: 30%;
				}
	
				.first_mode_text {
					font-size: 16px;
					width: 50%;
					padding-top: 2%;
					float: left;
					position: relative;
					div:nth-child(2) {
						font-size: 16px;
					}
					img {
						position: relative;
						left: 88%; top: -70px;
						visibility: hidden;
					}
				}
				
			}
	
			.first_mode:hover {
				transform: scale(1);
			}
	
			.second_mode {
				margin-top: 5%;
				.second_mode_img {
					width: 40%;
					padding-left: 8%;
				}
				.second_mode_text {
					font-size: 16px;
					padding-top: 0%;
					width: 60%;
					div:nth-child(2) {
						font-size: 16px;
						width: 45%;
					}
					img {
						position: relative;
						left: 56%;
						top: -100px;
						visibility: hidden;
					}
				}
			}
			.second_mode:hover {
				transform: scale(1);
			}
	
			.third_mode {
				margin-top: 5%;
				.third_mode_img {
					width: 40%;
					padding-left: 3%;
				}
				
				.third_mode_text {
					left: -6%;
					.third_mode_text_col1 {
						float: left;
						width: 10%;						
					}
					.third_mode_text_col2 {
						font-size: 18px;
						div:nth-child(2) {
							font-size: 16px;
						}
						img {
							position: relative;
							left: 68%; top: -110px;
							visibility: hidden;
						}
					}
					
				}
			}
			.third_mode:hover {
				transform: scale(1);
			}
	
		}
	}
}

@media screen and (min-width:901px) and (max-width:1200px) {
	.tarot {
		overflow-y: scroll;
	}
	.left_triangle {
		display: none;
	}
	.black_raven {
		width: 100px;
		position: absolute;
		left: 41%;
    	top: 270%;
		img:nth-child(1) {
			width: 10vh;
			height: 10vh;
		}
		img:nth-child(2) {
			left: 45%;
			width: 10vh;
			height: 10vh;
		}
		.raven_text {
			font-size: 22px;
			width: 400px;
			left: -100%;
			margin-bottom: 20px;
		}
	}
	.tarot_content {
		.tarot_title {
			font-size: 40px;
			padding: 8% 0 5% 0;
		}
		.tarot_deck {
			width: 100%;
			height: 130vh;
			padding-left: 10%;
			.deck_title {
				font-size: 28px;
				.main-dash {
					width: 30px;
					left: -50px;
					top: 20px;	
				}
			}
			.classic_rider {
				display: table;
				margin-top: 5%;
				.classic_rider_text {
					font-size: 22px;
					width: 40%;
					padding-top: 10%;	
				}
				
				.classic_rider_img {
					width: 25%;
					margin-top: 3%;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.left-hand1 {
					left: 2%;				
					width: 35%;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 22%;
						margin-left: 46%;
					}
				}
			}
			.classic_rider:hover {
				transform: scale(1.2);
			}
			.hermetic {
				display: table;
				margin-top: 10%;
				.hermetic_text {
					font-size: 22px;
					//text-align: right;
					width: 40%;
					padding-top: 8%;
					float: left;
					padding-right: 8%;
				}
				.hermetic_img {
					width: 25%;
					float: left;
					img {
						width: 80%;
						height: 80%;
						margin-left: 55%;
					}
				}
				.left-hand2 {
					float: left;
					width: 35%;
					position: relative;
					//left: 30%;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 15%;
						left: 20%;
					}
				}
			}
			.hermetic:hover {
				transform: scale(1.2);
			}
			.lenormand {
				display: table;
				margin-top: 10%;
				.lenormand_text {
					font-size: 22px;
					width: 40%;
				}
				.lenormand_img {
					width: 25%;
					img {
						position: relative;
						margin-top: 10%;
						left: -33%;
					}				
				}
				.left-hand3 {
					width: 35%;
					left: 5%;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 15%;
					}
				}
			}
			.lenormand:hover {
				transform: scale(1.2);
			}
		}
		.tarot_spread {
			width: 100%;
			height: 140vh;
			//background: blue;
			padding-bottom: 10vh;
			padding-left: 10%;
			.spread_title {
				font-size: 28px;
				margin-bottom: 10%;
				margin-left: 25%;
				.main-dash {
					width: 30px;
					left: -50px;
					top: 20px;	
				}
			}
	
			.first_mode {
				margin-top: 5%;
				.first_mode_img {
					position: relative;
					left: -13%;
					padding-top: 3%;
					width: 30%;
				}
	
				.first_mode_text {
					font-size: 22px;
					width: 50%;
					padding-top: 2%;
					float: left;
					position: relative;
					div:nth-child(2) {
						font-size: 22px;
					}
					img {
						position: relative;
						left: 88%; top: -55px;
						visibility: hidden;
					}
				}
				
			}
	
			.first_mode:hover {
				transform: scale(1.2);
			}
	
			.second_mode {
				margin-top: 5%;
				.second_mode_img {
					width: 40%;
					padding-left: 8%;
				}
				.second_mode_text {
					font-size: 22px;
					padding-top: 0%;
					width: 60%;
					div:nth-child(2) {
						font-size: 22px;
						width: 45%;
					}
					img {
						position: relative;
						left: 56%;
						top: -95px;
						visibility: hidden;
					}
				}
			}
			.second_mode:hover {
				transform: scale(1.2);
			}
	
			.third_mode {
				margin-top: 5%;
				.third_mode_img {
					width: 40%;
					padding-left: 3%;
				}
				
				.third_mode_text {
					left: -6%;
					.third_mode_text_col1 {
						float: left;
						width: 10%;						
					}
					.third_mode_text_col2 {
						font-size: 22px;
						padding-top: 9%;
						div:nth-child(2) {
							font-size: 22px;
						}
						img {
							position: relative;
							left: 100%; top: -110px;
							visibility: hidden;
						}
					}
					
				}
			}
			.third_mode:hover {
				transform: scale(1.2);
			}
	
		}
	}
}

@media screen and (min-width:1201px) and (max-width:1900px) {
	
	.tarot_content {
		
		.tarot_title {
			
			font-size: 50px;
			padding: 4% 0 1% 0;
		}
		.tarot_deck {
			.deck_title {
				font-size: 26px;
				.main-dash {
					width: 35px;
					left: -55px;
					top: 22px;	
				}
			}
	
			.classic_rider {
				cursor: pointer;
				display: table;
				margin-top: 5%;
				.classic_rider_text {
					font-size: 22px;
					width: 50%;
					padding-top: 10%;	
				}
				
				.classic_rider_img {
					width: 25%;
					img {
						width: 80%;
						height: 80%;
					}
					
				}
				.left-hand1 {
					position: relative;
					left: 5%;				
					width: 25%;
					float: left;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 30%;
					}
				}
			}
			.classic_rider:hover {
				transform: scale(1.2);
				text-shadow: 10px 10px 5px #5A3594;
			}
			.hermetic {
				margin-top: 5%;
				.hermetic_text {
					font-size: 22px;
				}
				.hermetic_img {
					width: 25%;
					img {
						width: 55%;
						height: 60%;
						margin-left: 17%;
						
					}
				}
				.left-hand2 {
					width: 25%;
					left: 0%;
					img {
						margin-top: 20%;
					}
				}
			}
			.hermetic:hover {
				transform: scale(1.2);
				text-shadow: 10px 10px 5px #5A3594;
			}
			.lenormand {
				.lenormand_text {
					font-size: 22px;
					width: 50%;
					padding-top: 10%;
					float: left;
				}
				.lenormand_img {
					width: 25%;
					float: left;
					img {
						width: 100%;
						height: 100%;
						margin-top: 4%;
						cursor: pointer;
					}				
				}
				.left-hand3 {
					width: 25%;
					float: left;
					position: relative;
					left: 5%;
					visibility: hidden;
					img {
						position: relative;
						margin-top: 30%;
	
					}
				}
			}
			.lenormand:hover {
				transform: scale(1.2);
				text-shadow: 10px 10px 5px #5A3594;
			}
		}
		.tarot_spread {
			.spread_title {
				font-size: 28px;
				.main-dash {
					width: 35px;
					left: -65px;
					top: 22px;	
				}
			}
	
			.first_mode {
				.first_mode_text {
					font-size: 18px;
					width: 30%;
					padding-top: 0%;
					div:nth-child(2) {
						font-size: 18px;
					}
					img {
						left: 100%; top: -70px;
					}
				}
			}
	
			.first_mode:hover {
				transform: scale(1.2);
			}
	
			.second_mode {
				margin-top: 0%;
				.second_mode_img {
					padding-left: 23%;
				}
				.second_mode_text {
					font-size: 18px;
					width: 50%;
					padding-top: 0%;
					div:nth-child(2) {
						font-size: 18px;
					}
					img {
						left: 60%; top: -70px;
					}
				}
			}
			.second_mode:hover {
				transform: scale(1.2);
			}
	
			.third_mode {
				margin-top: 0%;
				.third_mode_img {
					padding-left: 23%;
				}
				
				.third_mode_text {
					left: -6%;
					.third_mode_text_col1 {
						float: left;
						width: 10%;
					}
					.third_mode_text_col2 {
						width: 90%;
						font-size: 18px;
						div:nth-child(2) {
							font-size: 18px;
						}
						img {
							left: 80%; top: -110px;
						}
					}
				}
			}
			.third_mode:hover {
				transform: scale(1.2);
			}
	
		}
		
	}
	
	.black_raven {
		z-index: 10;
		width: 100px;
		bottom: 4%;
		left: 50%;
		img:nth-child(1) {
			width: 100%;
			height: 100%;
		}
		img:nth-child(2) {
			left: 45%;
			width: 12%;
			height: 12%;
		}
		.raven_text {
			font-size: 18px;
			width: 500px;
			left: -210%;
		}
	}
}

@media screen and (min-width:1900px) and (max-width:2560px) {
	
	// .tarot_content {
		
	// 	.tarot_title {
			
	// 		font-size: 50px;
	// 		padding: 4% 0 1% 0;
	// 	}
	// 	.tarot_deck {
	// 		.deck_title {
	// 			font-size: 26px;
	// 			.main-dash {
	// 				width: 35px;
	// 				left: -55px;
	// 				top: 22px;	
	// 			}
	// 		}
	
	// 		.classic_rider {
	// 			cursor: pointer;
	// 			display: table;
	// 			margin-top: 5%;
	// 			.classic_rider_text {
	// 				font-size: 22px;
	// 				width: 50%;
	// 				padding-top: 10%;	
	// 			}
				
	// 			.classic_rider_img {
	// 				width: 25%;
	// 				img {
	// 					width: 80%;
	// 					height: 80%;
	// 				}
					
	// 			}
	// 			.left-hand1 {
	// 				position: relative;
	// 				left: 5%;				
	// 				width: 25%;
	// 				float: left;
	// 				visibility: hidden;
	// 				img {
	// 					position: relative;
	// 					margin-top: 30%;
	// 				}
	// 			}
	// 		}
	// 		.classic_rider:hover {
	// 			transform: scale(1.2);
	// 			text-shadow: 10px 10px 5px #5A3594;
	// 		}
	// 		.hermetic {
	// 			margin-top: 5%;
	// 			.hermetic_text {
	// 				font-size: 22px;
	// 			}
	// 			.hermetic_img {
	// 				width: 25%;
	// 				img {
	// 					width: 55%;
	// 					height: 60%;
	// 					margin-left: 83%;
						
	// 				}
	// 			}
	// 			.left-hand2 {
	// 				width: 25%;
	// 				left: 30%;
	// 				img {
	// 					margin-top: 20%;
	// 				}
	// 			}
	// 		}
	// 		.hermetic:hover {
	// 			transform: scale(1.2);
	// 			text-shadow: 10px 10px 5px #5A3594;
	// 		}
	// 		.lenormand {
	// 			.lenormand_text {
	// 				font-size: 22px;
	// 				width: 50%;
	// 				padding-top: 10%;
	// 				float: left;
	// 			}
	// 			.lenormand_img {
	// 				width: 25%;
	// 				float: left;
	// 				img {
	// 					width: 100%;
	// 					height: 100%;
	// 					margin-top: 4%;
	// 					cursor: pointer;
	// 				}				
	// 			}
	// 			.left-hand3 {
	// 				width: 25%;
	// 				float: left;
	// 				position: relative;
	// 				left: 5%;
	// 				visibility: hidden;
	// 				img {
	// 					position: relative;
	// 					margin-top: 30%;
	
	// 				}
	// 			}
	// 		}
	// 		.lenormand:hover {
	// 			transform: scale(1.2);
	// 			text-shadow: 10px 10px 5px #5A3594;
	// 		}
	// 	}
	// 	.tarot_spread {
	// 		.spread_title {
	// 			font-size: 28px;
	// 			.main-dash {
	// 				width: 35px;
	// 				left: -65px;
	// 				top: 22px;	
	// 			}
	// 		}
	
	// 		.first_mode {
	// 			.first_mode_text {
	// 				font-size: 18px;
	// 				width: 30%;
	// 				padding-top: 0%;
	// 				div:nth-child(2) {
	// 					font-size: 18px;
	// 				}
	// 				img {
	// 					left: 100%; top: -70px;
	// 				}
	// 			}
	// 		}
	
	// 		.first_mode:hover {
	// 			transform: scale(1.2);
	// 		}
	
	// 		.second_mode {
	// 			margin-top: 0%;
	// 			.second_mode_img {
	// 				padding-left: 23%;
	// 			}
	// 			.second_mode_text {
	// 				font-size: 18px;
	// 				width: 50%;
	// 				padding-top: 0%;
	// 				div:nth-child(2) {
	// 					font-size: 18px;
	// 				}
	// 				img {
	// 					left: 60%; top: -70px;
	// 				}
	// 			}
	// 		}
	// 		.second_mode:hover {
	// 			transform: scale(1.2);
	// 		}
	
	// 		.third_mode {
	// 			margin-top: 0%;
	// 			.third_mode_img {
	// 				padding-left: 23%;
	// 			}
				
	// 			.third_mode_text {
	// 				left: -6%;
	// 				.third_mode_text_col1 {
	// 					float: left;
	// 					width: 10%;
	// 				}
	// 				.third_mode_text_col2 {
	// 					width: 90%;
	// 					font-size: 18px;
	// 					div:nth-child(2) {
	// 						font-size: 18px;
	// 					}
	// 					img {
	// 						left: 80%; top: -110px;
	// 					}
	// 				}
	// 			}
	// 		}
	// 		.third_mode:hover {
	// 			transform: scale(1.2);
	// 		}
	
	// 	}
		
	// }
	
	// .black_raven {
	// 	z-index: 10;
	// 	width: 100px;
	// 	bottom: 4%;
	// 	left: 50%;
	// 	img:nth-child(1) {
	// 		width: 100%;
	// 		height: 100%;
	// 	}
	// 	img:nth-child(2) {
	// 		left: 45%;
	// 		width: 12%;
	// 		height: 12%;
	// 	}
	// 	.raven_text {
	// 		font-size: 18px;
	// 		width: 500px;
	// 		left: -210%;
	// 	}
	// }
}

// @media screen and (min-width:2560px)
