.step-six {
    width: 100%;
    height: 100vh;
    font-family: Oswald light;
    overflow: hidden;
    background: #F4F4F7;
}

.clear {
    clear: both;
}

.left-side {
    width: 50%;
    height: 96%;
    float: left;
    //background: green;
    img {
        position: absolute;
        top: 0%;
        left: -5%;
        width: 16%;
        height: 20%;
    }
    .left-side-top {
        width: 100%;
        height: 40%;
        //background: red;
        // background: green;
        
        .left-side-text {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-40%, -30%);
            // background: red;
            width: 70%;
            font-size: 32px;
        }
    }

    .left-side-bottom {
        width: 100%;
        height: 60%;
        //  /background: blue;
        text-align: center;
        img {
            position: relative;
            // margin-top: 22%;
            left: 15%;
            top: -10%;
            width: 100%;
            height: 100%;
            //transform: rotate(-30deg);
        }
    }


}

.right-side {
    width: 50%;
    height: 92%;
    float: right;
    // background: red;
    .right-side-top {
        width: 100%;
        height: 60%;
        // background: yellow;
        // text-align: center;
        // vertical-align:bottom;
        img {
            
            position: absolute;
            top: 0%;
            right: 0%;
            width: 40%;
            height: 55%;
           
          
            transform: rotate(180deg);
        }
        .step_six3 {
            position: relative;
            top: 85%;
            left: 45%;
            width: 15%; 
            height: 30%;    
        }
    }

    .right-side-bottom {
        width: 100%;
        height: 40%;
        // background: green;
        .right-side-text {
            width: 70%;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -70%);
            // background: red;
            
            font-size: 32px;
            
            
        }
        
        .step_six4 {
                width: 6%;
                height: 10%;   
                position: absolute;
                bottom: 0;
                right: 0;
        }
    }


}