<div class="step-six">
    <div class="left-side">
        <div *ngIf="historyImgFlag; then thenBlock2 else elseBlock2"></div>
        <ng-template #thenBlock2><img src="../../../assets/img/about/his10.png" /></ng-template>
        <ng-template #elseBlock2><img [attr.src]="getHistoryImagePath(10)" /></ng-template>
        <div class="left-side-top">
            <div class="left-side-text">
                <p>
                    2009 <br />
                    In early 2009 he was invited by the Movenpick 
                    hotels to stay few months at the Movenpick resort 
                    and spa in the island Maturities. It was one his
                    most exciting and intensive period, living on a 
                    small island resort lecturing teaching and reading 
                    people from all over the world.
                </p>
            </div>
        </div>
        <div class="left-side-bottom">
            <div *ngIf="historyImgFlag; then thenBlock0 else elseBlock0"></div>
            <ng-template #thenBlock0><img src="../../../assets/img/about/his9.png" /></ng-template>
            <ng-template #elseBlock0><img [attr.src]="getHistoryImagePath(9)" /></ng-template> 
        </div>
    </div>
    <div class="right-side">
        <div class="right-side-top">
            <div *ngIf="historyImgFlag; then thenBlock1 else elseBlock1"></div>
            <ng-template #thenBlock1><img src="../../../assets/img/about/his10.png" /></ng-template>
            <ng-template #elseBlock1><img [attr.src]="getHistoryImagePath(10)" /></ng-template>

            <img class="step_six3" src="../../../assets/img/about/step_six3.png" />
        </div>
        <div class="right-side-bottom">

            <img class="step_six4" src="../../../assets/img/about/step_six4.png" />
            <div class="right-side-text">
                
                <p>
                    From 2007 until 2018, 11 years, Ofer was the Astrologer 
                    & columnist of the "Hello" Magazine in India, His 
                    Monthly and yearly predictions helped the Indian 
                    magazine to become very popular! Apart from India he 
                    was choen by the "HELLO" Thailand and international 
                    "HELLO" Spain to write special yearly predictions to the 
                    world royals and celebs. With Notable published
                    Horoscopes in south America, Puerto Rico, Turkey,
                    Serbia, Canada, middle east, Malaysia and more.

                </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>