.counseling {
	width: 100%;
	height: 100vh;
	display: table;
	font-family: Oswald light;
	//background: url('../../assets/img/counseling/counseling.png') no-repeat; 
	background: #deddd6;
	
	img {
		position: absolute;
		width: 30%;
		height: 100vh;
		z-index: 0;
		//background: red;
	}
	overflow: hidden;
}
.counseling>div
{
	float: left;
}

.detail {
	width: 30%;
	height: 100%;
	margin-top: 2%;
	position: relative;
	font-size: 22px;
	.detail-text  {
		margin: 40% 8% 0 20%;
	}
    p:first-child {
		font-weight: bold;
	}
	.detail-img {
		width: 100%;
		height: 100%;
		margin-left: 20%;
		margin-top: 10%;
		display: table;
		.img-item {
			position: relative;
			width: 20%;
			height: 7vh;
			float: left;
			margin-left: 2%;
			margin-bottom: 3vh;
			img {
				width: 100%;
				height: 100%;;
			}
		}
	}
}

.divide {
	border-bottom: 1px solid black;
	margin-top: 25%;
	width: 60%;
}

.pay-form {
	width: 40%;
	height: 100%;
	padding: 5% 5% 0 5%;
	font-size: 22px;
	margin-top: 2%;
	z-index: 20;
	p{
		text-align: center;
		font-family: Oswald;
	}
	p:nth-child(1) {
		font-size: 36px;
	}
	p:nth-child(2) {
		margin-bottom: 5%;
	}
	.pay-btn {
		margin-top: 5%;
		
		.sendPay {cursor: pointer;}
	}
	//background: yellow;
}

.time-watch {
	width: 30%;
	height: 100%;
	font-family: Oswald;
	font-size: 28px;
	position: relative;
	margin-top: 0%;
	.time-title {
		position: relative;
		margin-left: 42%;
    	margin-top: 35%;
	}
	.bangkok-time {
		margin-top: 5%;
		.bangkok-time-img {
			// width: 50%;
			// height: 15vh;
			width: 450px;
			height: 250px;
			text-align: center;
			background-color: #80d4ea;
			color: white;
			margin-left: 19%;
			font-size: 60px;
			padding-top: 74px;
		}
		.bangkok-time-txt {
			margin-top: 3%;
			margin-left: 42%;
		}
	}
	.newyork-time {
		margin-top: 5%;
		.newyork-time-img {
			width: 450px;
			height: 250px;
			text-align: center;
			background-color: #80d4ea;
			color: white;
			margin-left: 19%;
			font-size: 60px;
			padding-top: 74px;
		}
		.newyork-time-txt {
			margin-top: 3%;
			margin-left: 42%;
		}
	}
}
@media screen and (max-width: 600px) {
	.detail, .pay-form, .time-watch {
	  width: 100%;
	  height: max-content;
	}
	.detail {
		.detail-img {
			.img-item {
				width: 20%;
				height: 7vh;
				margin-left: 2%;
			}
		}
	}
	.counseling {
		img {
			width: 100%;
		}
	}
	.time-watch { 
		.time-title {
			margin-left: 42%;
			margin-top: 20%;
		}
		.bangkok-time {
			margin-top: 5%;
			.bangkok-time-img {
				margin-left: 3%;
				height: max-content;
			}
			.bangkok-time-txt {
				margin-left: 42%;
			}
		}
		.newyork-time {
			margin: 5% 0;
			.newyork-time-img {
				margin-left: 3%;
				height: max-content;
			}
			
			.newyork-time-txt {
				margin-left: 42%;
			}
		}
	}
}

@media screen and (min-width:601px) and (max-width:900px) {
	.detail, .pay-form, .time-watch {
		width: 100%;
		height: max-content;
	  }
	  .counseling {
		  img {
			  width: 100%;
		  }
	  }
	  .detail {
		.detail-img {
			.img-item {
				width: 18%;
				height: 7vh;
				margin-left: 2%;
			}
		}
	  }
	  .time-watch { 
		  .time-title {
			  margin-left: 42%;
			  margin-top: 20%;
		  }
		  .bangkok-time {
			  margin-top: 5%;
			  .bangkok-time-img {
				  margin-left: 15%;
				  height: max-content;
			  }
			  .bangkok-time-txt {
				  margin-left: 42%;
			  }
		  }
		  .newyork-time {
			  margin: 5% 0;
			  .newyork-time-img {
				  margin-left: 15%;
				  height: max-content;
			  }
			  
			  .newyork-time-txt {
				  margin-left: 42%;
			  }
		  }
		  
	  }

}

@media screen and (min-width:901px) and (max-width:1200px) {

	.detail {
		width: 100%;
	    height: max-content;
		.detail-img {
			.img-item {
				width: 10%;
				height: 7vh;
				margin-left: 2%;
			}
		}
	}
	 .pay-form {
	 	width: 50%;
		height: max-content;
		margin-bottom: 5%;
	 }
	 .time-watch {
		width: 50%;
	 }
	.detail-text  {
		margin: 10% 8% 0 8% !important;
		font-size: 20px;
	}
	.counseling {
		img {
			width:50%;
			height: 78vh;
		}
	}

	.time-watch { 
		.time-title {
			margin-left: 36%;
			margin-top: 30%;
		}
		.bangkok-time {
			margin-top: 5%;
			.bangkok-time-img {
				margin-left: 0%;
				height: max-content;
			}
			.bangkok-time-txt {
				margin-left: 36%;
			}
		}
		.newyork-time {
			margin: 5% 0;
			.newyork-time-img {
				margin-left: 0%;
				height: max-content;
			}
			
			.newyork-time-txt {
				margin-left: 36%;
			}
		}
	}
	
}

@media screen and (min-width:1201px) and (max-width:1900px) {

	
	.detail {
		width: 30%;
		.detail-text  {
			margin: 35% 8% 0 8% !important;
			font-size: 20px;
		}
	}
	.pay-form {}
	.time-watch { 
		width: 30%;
		font-size: 22px;
		.time-title {
			margin-left: 33%;
			margin-top: 50%;
		}
		.bangkok-time {
			margin-top: 5%;
			font-size: 22px;
			.bangkok-time-img {
				margin-left: -11%;
				height: max-content;
				width: 300px;
				height: 200px;
				text-align: center;
				background-color: #80d4ea;
				color: white;
				margin-left: 6%;
				font-size: 60px;
				padding-top: 74px;
			}
			.bangkok-time-txt {
				font-size: 22px;
				margin-left: 33%;
			}
		}
		.newyork-time {
			margin: 5% 0;
			.newyork-time-img {
				margin-left: -11%;
				height: max-content;
				width: 300px;
				height: 200px;
				text-align: center;
				background-color: #80d4ea;
				color: white;
				margin-left: 6%;
				font-size: 60px;
				padding-top: 74px;
			}
			
			.newyork-time-txt {
				font-size: 22px;
				margin-left: 33%;
			}
		}
	}
}

@media screen and (min-width:1900px) and (max-width:2560px) {
	.time-watch { 
		font-size: 22px;
		.time-title {
			margin-left: 28%;
			margin-top: 40%;
		}
		.bangkok-time {
			margin-top: 5%;
			font-size: 22px;
			.bangkok-time-img {
				margin-left: -11%;
				height: max-content;
				width: 450px;
				height: 250px;
				text-align: center;
				background-color: #80d4ea;
				color: white;
				margin-left: 4%;
				font-size: 60px;
				padding-top: 74px;
			}
			.bangkok-time-txt {
				font-size: 22px;
				margin-left: 28%;
			}
		}
		.newyork-time {
			margin: 5% 0;
			.newyork-time-img {
				margin-left: -11%;
				height: max-content;
				width: 450px;
				height: 250px;
				text-align: center;
				background-color: #80d4ea;
				color: white;
				margin-left: 4%;
				font-size: 60px;
				padding-top: 74px;
			}
			
			.newyork-time-txt {
				font-size: 22px;
				margin-left: 28%;
			}
		}
	}
}
@media screen and (min-width:2560px) {
	// .time-watch { 
	// 	font-size: 22px;
	// 	.time-title {
	// 		margin-left: 36%;
	// 		margin-top: 35%;
	// 	}
	// 	.bangkok-time {
	// 		margin-top: 5%;
	// 		font-size: 22px;
	// 		.bangkok-time-img {
	// 			margin-left: -11%;
	// 			height: max-content;
	// 			width: 450px;
	// 			height: 250px;
	// 			text-align: center;
	// 			background-color: #80d4ea;
	// 			color: white;
	// 			margin-left: 13%;
	// 			font-size: 60px;
	// 			padding-top: 74px;
	// 		}
	// 		.bangkok-time-txt {
	// 			font-size: 22px;
	// 			margin-left: 36%;
	// 		}
	// 	}
	// 	.newyork-time {
	// 		margin: 5% 0;
	// 		.newyork-time-img {
	// 			margin-left: -11%;
	// 			height: max-content;
	// 			width: 450px;
	// 			height: 250px;
	// 			text-align: center;
	// 			background-color: #80d4ea;
	// 			color: white;
	// 			margin-left: 13%;
	// 			font-size: 60px;
	// 			padding-top: 74px;
	// 		}
			
	// 		.newyork-time-txt {
	// 			font-size: 22px;
	// 			margin-left: 36%;
	// 		}
	// 	}
	// }
}