<div class="counseling">
	<div class="detail">
        <div class="detail-text">
        <p>Please read Before you book your session</p>
        <p>
            1. You do not need a paypal account to book a session.
            you can pay with your credit card, click pay with 
            paypal, scroll and look for the guest credit card
            payment option!

        </p>
        <p>
            2. Always book your session when using the Chrome browser!
        
        </p>
        <p>
            3. Kindly pay attension to our different time zone, 
            it may take few hours to get our confirmation email.
        </p>
        <p>
            4. My working Days: Monday to Saturday from 8.30 am
            to 3 pm Bangkok time! Sunday 2.30 pm to 3.30 pm 
            Bangkok time!
        </p>
        <p>
            5. Your best option is to call on Skype or Wts app,
            in many cases I will ask you to open the video cam,
            especially if this is your first session.
        </p>
        <p>
            6. For the session you will need your birth details if 
            needed your family(wife& kids) details as well.
        </p>
        <p>
            Thank you for your booking.
        </p>
        <p>
            Ofer
        </p>

        <div class="divide"></div>
        </div>
    </div>
    <div class="pay-form">
        <p>BOOK YOUR SESSION</p>
        <div class="pay-form-content">
            <div class="first-name">
                <label>First Name*</label>
                <input type="text" placeholder="First Name" />
            </div>
            <div class="first-name">
                <label>Last Name*</label>
                <input type="text" placeholder="Last Name" />
            </div>
            <div class="email-name">
                <label>E-mail*</label>
                <input type="text" placeholder="E-mail" />
            </div>
            <div class="city-name">
                <label>City</label>
                <input type="text" placeholder="City" />
            </div>
            <div class="zip-name">
                <label>Postal/ZIP Code</label>
                <input type="text" placeholder="Zip code" />
            </div>
            <div class="country-name">
                <label>Country*</label>
                <input type="text" placeholder="Country name" />
            </div>
            <div class="verification-name">
                <label>Enter verification number below: 033121</label>
                <input type="text" placeholder="Verification code" />
            </div>
            <div class="pay-btn">
                <input type="button" value="PayPal" />
            </div>
        </div>
    </div> 
    <div class="time-watch">
        
        <div id="divMain">
            <div id="bangkok_time" ></div>
            <div id="newyork_time" ></div>
            <div id="mumbai_time" ></div>
            <div id="dubai_time" ></div>
        </div>
    </div>
</div>