<div class="counseling">
    <div *ngIf="counselingImgFlag; then thenBlock0 else elseBlock0"></div>
    <ng-template #thenBlock0><img src="../../assets/img/counseling/counseling.png" /></ng-template>
    <ng-template #elseBlock0><img [attr.src]="getCounselingImagePath()" /></ng-template>
    
   
	<div class="detail">
        <div class="detail-text">
        <p>Please read Before you book your session</p>
        <p>
            1. You do not need a paypal account to book a session.
            you can pay with your credit card, click pay with 
            paypal, scroll and look for the guest credit card
            payment option!

        </p>
        <p>
            2. Always book your session when using the Chrome browser!
        
        </p>
        <p>
            3. Kindly pay attension to our different time zone, 
            it may take few hours to get our confirmation email.
        </p>
        <p>
            4. My working Days: Monday to Saturday from 8.30 am
            to 3 pm Bangkok time! Sunday 2.30 pm to 3.30 pm 
            Bangkok time!
        </p>
        <p>
            5. Your best option is to call on Skype or Wts app,
            in many cases I will ask you to open the video cam,
            especially if this is your first session.
        </p>
        <p>
            6. For the session you will need your birth details if 
            needed your family(wife& kids) details as well.
        </p>
        <p>
            Thank you for your booking.
        </p>
        <p>
            Ofer
        </p>
        </div>
        <div class="detail-img">
            <div class="img-item"><img src="../../assets/img/counseling/1.jpg" /></div>
            <div class="img-item"><img src="../../assets/img/counseling/2.jpg" /></div>
            <div class="img-item"><img src="../../assets/img/counseling/3.jpg" /></div>
        </div>
    </div>
    <div class="pay-form">
        <p>Book your session</p>
        <p>40 Min online Session : 125 USD</p>
        <div class="pay-form-content">
            <form #f="ngForm" (ngSubmit)="onSendPayPal(f)" data-toggle="validator" role="form" >
                <div class="first-name form-group">
                    <label>First Name*</label>
                    <input type="text" [(ngModel)]="firstName" name="firstName"  class="form-control" placeholder="First Name"  required>
                </div>
                <div class="last-name form-group">
                    <label >Last Name*</label>
                    <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control"  placeholder="Last Name" required >
                </div>
                <div class="phone form-group">
                    <label >Phone*</label>
                    <input type="text" [(ngModel)]="phone" name="phone" class="form-control"  placeholder="Phone Number" required >
                </div>
                <div class="email-name form-group">
                    <label for="exampleInputEmail1">E-mail*</label>
                    <input type="email" 
                     [(ngModel)]="email" name="email"
                     class="form-control" 
                     id="exampleInputEmail1"
                     placeholder="E-mail" required />
                </div>
                <div class="city-name form-group">
                    <label>City</label>
                    <input type="text" [(ngModel)]="city" name="city" class="form-control"  placeholder="City" >
                </div>
                <div class="zip-name form-group">
                    <label>Postal/ZIP Code</label>
                    <input type="text" [(ngModel)]="zipcode" name="zipcode" class="form-control" placeholder="Zip code" >
                </div>
                <div class="country-name form-group">
                    <label>Country*</label>
                    <input type="text" [(ngModel)]="country" name="country" class="form-control" placeholder="Country name" required >
                </div>
                <div class="verification-name form-group">
                    <label>Enter verification number below: {{preventSpamNum}}</label>
                    <input type="text" [(ngModel)]="verifyCode" name="verifyCode" class="form-control" placeholder="Verification code" required>
                </div>
                <div class="pay-btn form-group">
                    <button type="submit" class="btn btn-primary btn-lg sendPay" value="PayPal" >PayPal</button>
                </div>
            </form>
        </div>
    </div> 
    <div class="time-watch">
        <div class="time-title">Time zone</div>
        <div class="bangkok-time">
            <div class="bangkok-time-img">
                
            </div>
            <div class="bangkok-time-txt">
                Bangkok
            </div>
        </div>
        <div class="newyork-time">
                <div class="newyork-time-img">
                    
                </div>
                <div class="newyork-time-txt">
                    New York 
                </div>
            </div>
    </div>
</div>