.counseling {
	width: 100%;
	height: 100%;
	display: table;
	font-family: Oswald light;
}
.counseling>div
{
	float: left;
}
.detail {
	width: 30%;
	height: 100%;
	
	position: relative;
	//
	font-size: 22px;
	.detail-text  {
		// width: 80%;
		
		margin: 40% 8% 0 8%;
		// background: red;
	}
    p:first-child {
		font-weight: bold;
	}
}

.divide {
	border-bottom: 1px solid black;
	margin-top: 25%;
	width: 60%;
}

.pay-form {
	width: 50%;
	height: 100%;
	padding: 5% 5% 0 5%;
	font-size: 22px;
	p{
		text-align: center;
		font-weight: bold;
		padding-bottom: 5%;
	}
	.pay-btn {
		margin-top: 5%;
	}
	//background: yellow;
}

.time-watch {
	width: 20%;
	height: 100%;
}
@media screen and (max-width: 600px) {
	.detail, .pay-form, .time-watch {
	  width: 100%;
	}
  }
// @media screen and (min-width:601px) and (max-width:1200px)
// @media screen and (min-width:1201px) and (max-width:1900px)
// @media screen and (min-width:1900px)