.celtic-ten {
	width: 100%;
	height: 100vh;
	position: absolute;
	font-family: Oswald;
	overflow: hidden;
}

.celtic-ten-container {
	width: 100%;
	height: 100%;
}

.celtic-ten-left {
	width: 70%;
	height: 100%;
	position: relative;
	float: left;
	display: table;
	z-index: 20;
	.one-five {
		width: 50%;
		height: 100%;
		position: relative;
		float: left;
		//background: red;
		.cel1, .cel2, .cel3, .cel4, .cel5 {
			width: 100%;
			//background-color: pink;
			display: table;			
			margin: 5% 5% 5% 40%;

		}
		.cel-img {
			width: 15%;
			float: left;
			img {
				width:100%;
				height: 15vh;
			}
		}
		.cel-text {
			width: 80%;
			float: left;
			padding: 3% 5% 3% 5%;
			.cel-text-title {
				font-size: 20px;
			}
			.cel-text-content {
				font-style: 18px;
				width: 90%;
				height: 9vh;
				overflow: hidden;
				text-overflow: ellipsis;
				//background: yellow;
			}
		}
	}
	.six-ten {
		width: 50%;
		height: 100%;
		position: relative;
		float: left;
		//background: blue;
		.cel6, .cel7, .cel8, .cel9, .cel10 {
			width: 100%;
			//background-color: yellow;
			display: table;			
			margin: 5% 5% 5% 30%;

		}
		.cel-img {
			width: 15%;
			float: left;
			img {
				width:100%;
				height: 15vh;
			}
		}
		.cel-text {
			width: 80%;
			float: left;
			padding: 3% 5% 3% 5%;
			.cel-text-title {
				font-size: 20px;
			}
			.cel-text-content {
				font-size: 18px;
				width: 90%;
				height: 9vh;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

	}
}

.celtic-ten-right {
	width: 30%;
	height: 100%;
	float: right;
	//background: blue;
	.celtic-ten-container {
		width: 100%;
		position: relative;
	    display: table;
	    margin-top: 28%;
		margin-left: 25%;
		.celtic-ten-back-reading {
			float: left;
			font-size: 22px;
			color: #5A3594;
			margin-top: 30px;
			div {
				text-align: right;
				cursor: pointer;
			}
			div:nth-child(2) {
				text-align: right;
				margin-top: 60px;
			}
			div:nth-child(3) {
				text-align: right;
				margin-top: 60px;
			}
		}
		.arrow-symbol {
			float: left;
			margin-left: 30px;
			.arrow-dash {
				position: relative;
				margin-left: 10px;
				margin-top: -40px;
				width: 3px;
			    height: 300px;
			    background-image: linear-gradient(to bottom, transparent 50%, #5A3594 50%);
			    background-size: 50px 50px;
			}
			i:nth-child(1) {
				font-size:22px;
				color:#5A3594;
			}

			i:nth-child(2) {
				font-size:22px;
				color:#5A3594;
				
			}
			.arrow-down {
				margin-top: -14px;
			}
		}
	}

	.right-img {
		position: relative;
		height: 15%;
		width: 30%;
		top: 30%;
		left: 20%;
		//background: red;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.left_triangle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-right: 30vh solid transparent;
    border-bottom: 50vh solid #5A3594;
    z-index: 0;
}