<div class="celtic-ten">
	<div class="celtic-ten-container">
		<div class="celtic-ten-left">
			<div class="one-five">
				<div class="cel1">
					<div class="cel-img"> <img src={{celtic_imgPath[1]}} /> </div>
					<div class="cel-text"> 
						<div class="cel-text-title">
							Card 1: Current Situation
						</div>
						<div class="cel-text-content">
							<div>Love and relationships:</div>
							<div>{{celtic_cardContent1[1]}}</div>
							<div>Work and career:</div>
							<div>{{celtic_cardContent2[1]}}</div>
							
						</div>
					</div>
				</div>
				<div class="cel2">
					<div class="cel-img"> <img src={{celtic_imgPath[2]}} /> </div>
					<div class="cel-text"> 
						<div class="cel-text-title">
							Card 2: The Challenge
						</div>
						<div class="cel-text-content">
							<div>Love and relationships:</div>
							<div>{{celtic_cardContent1[2]}}</div>
							<div>Work and career:</div>
							<div>{{celtic_cardContent2[2]}}</div>
						</div>
					</div>
				</div>
				<div class="cel3">
					<div class="cel-img"> <img src={{celtic_imgPath[3]}} /> </div>
					<div class="cel-text"> 
						<div class="cel-text-title">
							Card 3: The Past
						</div>
						<div class="cel-text-content">
							<div>Love and relationships:</div>
							<div>{{celtic_cardContent1[3]}}</div>
							<div>Work and career:</div>
							<div>{{celtic_cardContent2[3]}}</div>
						</div>
					</div>
				</div>
				<div class="cel4">
					<div class="cel-img"> <img src={{celtic_imgPath[4]}} /> </div>
					<div class="cel-text"> 
						<div class="cel-text-title">
							Card 4: The Present
						</div>
						<div class="cel-text-content">
							<div>Love and relationships:</div>
							<div>{{celtic_cardContent1[4]}}</div>
							<div>Work and career:</div>
							<div>{{celtic_cardContent2[4]}}</div>
						</div>
					</div>
				</div>
				<div class="cel5">
					<div class="cel-img"> <img src={{celtic_imgPath[5]}} /> </div>
					<div class="cel-text"> 
						<div class="cel-text-title">
							Card 5: Near Future
						</div>
						<div class="cel-text-content">
							<div>Love and relationships:</div>
							<div>{{celtic_cardContent1[5]}}</div>
							<div>Work and career:</div>
							<div>{{celtic_cardContent2[5]}}</div>
						</div>
					</div>
				</div>
				<div class="cel6">
					<div class="cel-img"> <img src={{celtic_imgPath[6]}} /> </div>
					<div class="cel-text"> 
						<div class="cel-text-title">
							Card 6: Future
						</div>
						<div class="cel-text-content">
							<div>Love and relationships:</div>
							<div>{{celtic_cardContent1[6]}}</div>
							<div>Work and career:</div>
							<div>{{celtic_cardContent2[6]}}</div>
						</div>
					</div>
				</div>
				<div class="cel7">
					<div class="cel-img"> <img src={{celtic_imgPath[7]}} /> </div>
					<div class="cel-text"> 
						<div class="cel-text-title">
							Card 7: What you can do
						</div>
						<div class="cel-text-content">
							<div>Love and relationships:</div>
							<div>{{celtic_cardContent1[7]}}</div>
							<div>Work and career:</div>
							<div>{{celtic_cardContent2[7]}}</div>
						</div>
					</div>
				</div>
				<div class="cel8">
					<div class="cel-img"> <img src={{celtic_imgPath[8]}} /> </div>
					<div class="cel-text"> 
						<div class="cel-text-title">
							Card 8: External influences
						</div>
						<div class="cel-text-content">
							<div>Love and relationships:</div>
							<div>{{celtic_cardContent1[8]}}</div>
							<div>Work and career:</div>
							<div>{{celtic_cardContent2[8]}}</div>
						</div>
					</div>
				</div>
				<div class="cel9">
					<div class="cel-img"> <img src={{celtic_imgPath[9]}} /> </div>
					<div class="cel-text"> 
						<div class="cel-text-title">
							Card 9: your Fears and worry's
						</div>
						<div class="cel-text-content">
							<div>Love and relationships:</div>
							<div>{{celtic_cardContent1[9]}}</div>
							<div>Work and career:</div>
							<div>{{celtic_cardContent2[9]}}</div>
						</div>
					</div>
				</div>
				<div class="cel10">
					<div class="cel-img"> <img src={{celtic_imgPath[10]}} /> </div>
					<div class="cel-text"> 
						<div class="cel-text-title">
							Card 10: where the situation is heading to
						</div>
						<div class="cel-text-content">
							<div>Love and relationships:</div>
							<div>{{celtic_cardContent1[10]}}</div>
							<div>Work and career:</div>
							<div>{{celtic_cardContent2[10]}}</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="six-ten">
				
			</div> -->
		</div>
		<div class="celtic-ten-right">
			<div class="celtic-ten-container">
				<div class="celtic-ten-back-reading">
					<div (click)="goCelticMainPage()"> Back Up</div>
					<div routerLink="/tarot">Start a new Reading</div>
				</div>
				<div class="arrow-symbol">
					<div >
						<i class='fa fa-chevron-up'></i>
					</div>												
					<div class="arrow-dash"></div>
					<div class="arrow-down">
						<i class='fa fa-chevron-down'></i>
					</div>
				</div>
			</div>
			<div class="right-img">
				<img src="assets/img/tarot/tarot4.png" />
			</div>
		</div>
		<!-- <div class="left_triangle"></div> -->
	</div>
</div>