.celtic-ten {
	width: 100%;
	height: 100vh;
	position: absolute;
	font-family: Oswald;
	overflow-x: hidden;
	background-color: #E6E4E4;
}

.celtic-ten-container {
	width: 100%;
	height: 100%;
}

.celtic-ten-left {
	width: 80%;
	height: 100%;
	position: relative;
	float: left;
	//display: table;
	margin-top: 3%;
	z-index: 20;
	padding-left: 3%;
	//background-color: red;

	.one-five {
		width: 100%;
		height: 100%;
		position: relative;
		float: left;
		margin-top: 2vh;
		font-family: Oswald light;
		.cel1, .cel2, .cel3, .cel4, .cel5,.cel6, .cel7, .cel8, .cel9, .cel10 {
			width: 100%;
			//background-color: pink;
			display: table;			
			//margin: 5% 5% 5% 5%;
			//height: 20vh;
			margin-bottom: 3%;
			.cel-img {
				width: 7%;
				float: left;
				img {
					width:100%;
					height: 18vh;
				}
			}
			.cel-text {
				width: 90%;
				float: left;
				padding: 10px 0 1% 3%;
				//background-color: red;
				.cel-text-title {
					font-size: 22px;
					font-weight: bold;
					//height: 2vh;
				}
				.cel-text-content {
					font-size: 20px;
					width: 100%;
					//height: 9vh;
					//overflow: hidden;
					//text-overflow: ellipsis;
					//background: yellow;
					div:nth-child(1), div:nth-child(3) {
						font-weight: bold;
					}

				}
			}
		}
		
	}
	// .six-ten {
	// 	width: 50%;
	// 	height: 100%;
	// 	position: relative;
	// 	float: left;
	// 	//background: blue;
	// 	margin-top: 2vh;
	// 	font-family: Oswald extra light;
	// 	.cel6, .cel7, .cel8, .cel9, .cel10 {
	// 		width: 100%;
	// 		//background-color: yellow;
	// 		display: table;		
	// 		height: 20vh;	
	// 		//margin: 5% 5% 5% 30%;
	// 		.cel-img1 {
	// 			width: 12%;
	// 			float: left;
	// 			img {
	// 				width:100%;
	// 				height: 15vh;
	// 			}
	// 		}
	// 		.cel-text1 {
	// 			width: 80%;
	// 			float: left;
	// 			padding: 1% 0 1% 3%;
	// 			.cel-text-title1 {
	// 				font-size: 18px;
	// 				font-weight: bold;
	// 			}
	// 			.cel-text-content1 {
	// 				font-size: 14px;
	// 				width: 100%;
	// 				//height: 9vh;
	// 				overflow: hidden;
	// 				text-overflow: ellipsis;
	// 			}
	// 		}
	// 	}
		

	// }
}

.celtic-ten-right {
	width: 20%;
	height: 100%;
	float: right;
	//background: blue;
	position: relative;
	.celtic-ten-container {
		width: 100%;
		position: relative;
	    display: table;
	    margin-top: 28%;
		padding-left: 18%;
		.celtic-ten-back-reading {
			float: left;
			font-size: 22px;
			color: #5A3594;
			margin-top: 3vh;
			cursor: pointer;
			div:nth-child(1) {
				text-align: right;
				outline: none;
			}
			div:nth-child(2) {
				text-align: right;
				margin-top: 11vh;
				outline: none;
			}
			
		}
		.arrow-symbol {
			position: relative;
			float: left;
			margin-left: 30px;
			//left: 19%;
			.arrow-dash {
				position: relative;
				margin-left: 8.8px;
				margin-top: -40px;
				width: 3px;
			    height: 22vh;
			    background-image: linear-gradient(to bottom, transparent 50%, #5A3594 50%);
			    background-size: 50px 50px;
			}
			i:nth-child(1) {
				font-size:20px;
				color:#5A3594;
			}

			i:nth-child(2) {
				font-size:20px;
				color:#5A3594;
				
			}
			.arrow-down {
				margin-top: -14px;
			}
		}
	}

	.right-img {
		position: absolute;
		height: 10vh;
		width: 30%;
		bottom: 0%;
		left: 40%;
		//background: red;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.left_triangle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-right: 30vh solid transparent;
    border-bottom: 50vh solid #5A3594;
    z-index: 0;
}