<div class="contact">
	<div class="first_contact">
        <div class="first_detail" >
            <div class="first_detail_data">
                <div class="contact_us">
                   
                    <div style="float: left; margin-bottom: 20%; "><p>CONTACT ME</p>  </div> 
                    <div class="dash"><p></p></div>
                    <div class="clear"></div>
                </div>
                <div class="country">
                    <p>Thailand</p>
                </div>
                <div class="city">
                    <p>City: Hua Hin</p>
                </div>

                <div class="tel"><p>TEL:&nbsp;&nbsp; +669 9 425 2139</p></div>
                <div class="email_us">
                    <p>Please email to: &nbsp;&nbsp;ofer888@yahoo.com</p>
                </div>
                <div class="press-slim">
                    <div class="before-dash"></div>
                    <div class="middle-dash" (click)="onPress()">
                        <p >Press</p>
                    </div>
                       
                    <div class="after-dash"></div>
                </div>
                <div class="social_icons">
                    <div class="social_facebook"  >
                        <a href="https://www.facebook.com/ofer.cohen.3994" target="_blank">
                            .Facebook
                        </a>
                    </div>
                    <div class="social_youtube">
                        <a href="https://www.youtube.com/channel/UCJxbKRXGmGJ6SRXFFpV87zw?view_as=subscriber" target="_blank">
                            .YouTube
                        </a>
                    </div>
                    <div class="social_instagram">
                        <a href="https://www.instagram.com/ofercohen8/" target="_blank">
                            .Instagram
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="first_video">
            <div class="first_video_zone">
                <video  id="backgroundvid" autoplay muted loop preload="auto">
                    <!-- <source src="video.webm" type='video/webm; codecs="vp8.0, vorbis"'> -->
                    <source [attr.src]="getImagePath()" type='video/ogg; codecs="theora, vorbis"'>
                    <source src="../../assets/video/contact_thailand.Ogg" type='video/ogg; codecs="theora, vorbis"'>
                    <!-- <source src="video.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'> -->
                    
                </video>
            </div>
        </div>
        <div class="divide-line"></div>
        <div class="clear"></div>
    </div>
    <div class="second_contact">
        <div class="second_video">
            <div class="second_video_zone">
                <video  id="backgroundvid" autoplay muted loop preload="auto">
                    <!-- <source src="video.webm" type='video/webm; codecs="vp8.0, vorbis"'> -->
                    <source src="../../assets/video/contact_india.Ogg" type='video/ogg; codecs="theora, vorbis"'>
                    <source src="../../assets/video/contact_india.mp4" type='video/mp4; codecs="H264, avc1.4D401E, mp4a.40.2"'>
                    
                </video>
            </div>
        </div>
        <div class="second_detail" >
            <div class="second_detail_data">
             
                <div class="contact_us">
                    <div style="float: left;"><p> FOR BOOKING FROM INDIA</p>  </div> 
                    <div class="dash"><p></p></div>
                    <div class="clear"></div>
                </div>
                <div class="country">
                    <p>India</p>
                </div>
                <div class="city">
                    <p>Mumbai</p>
                </div>
                <div class="tel">TEL:&nbsp;&nbsp; +919 8 2057 1003</div>
                <div class="slim1"></div>
            </div>
        </div>
        <div class="clear"></div>
        
    </div>
    <div class="third_contact">
        <div class="third_detail" >
            <div class="third_detail_data">
                <div class="contact_us">
                    <div style="float: left;"><p> CONTACT ME</p>  </div> 
                    <div class="dash"><p></p></div>
                    <div class="clear"></div>
                </div>
                <div class="country">
                   <p>Israel</p> 
                </div>
                <div class="city">
                    <p>Borohov 25</p>
                </div>

                
                <!-- <div class="slim2"></div> -->
            </div>
            
        </div>
        <div class="third_video">
            <div class="third_video_zone">
                
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
