.contact {
	// background-image: url("../../assets/img/temp.jpg");
	background-color: #faf9fa;
	width: 100%;
	height: 100vh; 
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	font-family: Oswald;
	// overflow: hidden;
}

.clear {
	clear: both;
}

.first_contact {
	width: 100%;
	height: 100%;
	.first_detail {
		width: 30%;
		height: 100%;
		float: left;
		
		.first_detail_data {
			width: 50%;
			height: 50%;
			// background: red;
			position: relative;
			top: 40%;
			left: 50%;
			transform: translate(
				-5%, -40%);
		}
	}

	.first_video {
		width: 70%;
		height: 100%;
		// background: yellow;
		float: right;

		.first_video_zone {
			width: 90%;
			height: 80%;
			// background: blue;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			video {
				width: 100%;
				height: 100%;
			}
			
		}
	}
}


.second_contact {
	width: 100%;
	height: 50%;
	.second_detail {
		width: 50%;
		height: 100%;
		float: right;
		// background: blue;
		.second_detail_data {
			width: 50%;
			height: 50%;
			// background: red;
			position: relative;
			top: 40%;
			left: 35%;
			transform: translate(0%, -50%);
		}
	}

	.second_video {
		width: 50%;
		height: 100%;
		// background: yellow;
		float: left;

		.second_video_zone {
			width: 90%;
			height: 80%;
			// background: blue;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			video {
				width: 100%;
				height: 100%;
				position: relative;
				left: 10%
			}
			
		}
	}
}


.third_contact {
	width: 100%;
	height: 50%;
	.third_detail {
		width: 50%;
		height: 100%;
		float: left;
		
		.third_detail_data {
			width: 50%;
			height: 50%;
			// background: red;
			position: relative;
			//left: 30%;
			top: 40%;
			left: 70%;
			
			transform: translate(-50%, -50%);
		}
	}

	.third_video {
		width: 50%;
		height: 100%;
		// background: yellow;
		float: right;

		.third_video_zone {
			width: 90%;
			height: 80%;
			background-image: url("../../assets/img/contact/israel.jpg");
	
			background-position: center;
  			background-repeat: no-repeat;
  			background-size: cover;
			// background: blue;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			video {
				width: 100%;
				height: 100%;
			}
			
		}
	}
}

.contact_us {
	font-size: 18px;
	margin-bottom: 10%;
}

.country {
	font-size: 50px; 
	font-weight: bold;
	margin-bottom: 10%;
}

.city {
	font-size: 40px;
}

.tel {
	font-size: 16px;
}

.email_us {
	font-size: 18px;	
	margin-top: 31%;
}

.dash {
	border-bottom: 1px solid black; 
	width:60px; 
	float:left; 
	position: relative; 
	margin: -2px 0 0 20px;
}

.clear {
	clear: both;
}

.slim {
	width: 50px;
	border-bottom: 1px solid black; 
	margin-top: 40%;
}

.press-slim {
	
	margin-top: 40%;
	width: 80%;
	display: flex;
	
}

.before-dash {
	width: 20%;
	//margin-top: 40%;\
	//position: relative;
	//top: 50%;
	border-top: 1px solid black; 
}

.after-dash {
	width: 20%;
	//margin-top: 40%;
	border-top: 1px solid black; 
}

.middle-dash {
	text-align: center;
	width: 30%;
	margin: 0 5%;
	cursor: pointer;
	p {
		position: relative;
		top: -35%;
		color: red; 
		font-size: 30px
	}
	
}

.slim1 {
	width: 50px;
	border-bottom: 1px solid black; 
	margin-top: 10%;
}


.slim2 {
	width: 50px;
	border-bottom: 1px solid black; 
	margin-top: 8%;
}

.divide-line {
	width: 80%;
	position: absolute;
	bottom: 5%;
	border-bottom: 1px solid rgb(133, 127, 126);
	margin-left: 10%;
}

.social_icons {
	display: flex;
	cursor: pointer;
	margin-top: 20%;
	margin-left: -18%;
	font-size: 18px;
	a {
		color: black;
		text-decoration: none;
	}
	.social_facebook {
		width: 33%;
	}
	.social_youtube {
		width: 33%;
	}
	.social_instagram {
		width: 33%;
	}
}

.contact_me_first {
	float: left; margin-bottom: 20%;
}

@media screen and (max-width: 600px) {
	.first_contact {
		.first_detail { width: 100%; height: max-content; 
			.first_detail_data {
				width: 70%;
				height: 70%;
				position: relative;
				top: 40%;
				left: 25%;
			}
		}
		.first_video { width: 100%; height: max-content;
			.first_video_zone { 
				top: 30%;
			}
		} 
		.divide-line {
			bottom: -18%;
		}
	}



	.second_contact {
		.second_detail { width: 100%; 
			height: mex-content;
			.second_detail_data {
				left: 20%;
			}
		}
		.second_video { width: 100%;
			.second_video_zone {
				top: 75%;
    			left: 41%;
			}
		}
	}

	.third_contact { 
		.third_detail { width: 100%;
			height: inherit;
			.third_detail_data {
				left: 45%;
			}	
		}
		.third_video { width: 100%; }
	}

	.social_icons {
		margin-top: 0;
		font-size: 16px;
	}

	.contact_us {
		font-size: 12px;
		margin-bottom: 0%;
	}

	.country {
		font-size: 30px; 
		font-weight: bold;
		margin-bottom: 10%;
	}

	.city {
		font-size: 20px;
	}

	.tel {
		font-size: 12px;
	}

	.email_us {
		font-size: 16px;
	}

	.dash {
		border-bottom: 1px solid black; 
		width:40px; 
		float:left; 
		position: relative; 
		margin: -6px 0 0 20px;
	}
}


@media screen and (min-width:601px) and (max-width:900px) {
	.first_contact {
		.first_detail { width: 100%; height: max-content; 
			.first_detail_data {
				width: 70%;
				height: 70%;
				position: relative;
				top: 40%;
				left: 30%;
			}
		}
		.first_video { width: 100%; height: max-content;
			.first_video_zone { 
				top: 50%;
			}
		} 
		.divide-line {
			bottom: -45%;
		}
	}

	.contact_me_first {
		margin: 5% 0;
	}

	.thai-dash {
		padding-top: 27px;
	}

	.press-slim {
		margin-top: 12%;
	}

	.second_contact {
		.second_detail { width: 100%; 
			height: mex-content;
			.second_detail_data {
				top: 81%;
   				left: 17%;
			}
		}
		.second_video { width: 100%;
			.second_video_zone {
				top: 105%;
    			left: 41%;
			}
		}
	}

	.third_contact { 
		.third_detail { width: 100%;
			height: inherit;
			.third_detail_data {
				top: 90%;
    			left: 42%;
			}	
		}
		.third_video { width: 100%;
			.third_video_zone {
				top: 80%;
				margin-bottom: 20px;
			}
		}
	}

	.social_icons {
		margin-top: 0;
	}

	.contact_us {
		font-size: 12px;
		margin-bottom: 0%;
	}

	.country {
		font-size: 30px; 
		font-weight: bold;
		margin-bottom: 10%;
	}

	.city {
		font-size: 20px;
	}

	.tel {
		font-size: 12px;
	}

	.email_us {
		font-size: 18px;
		//background: red;
		margin-top: 10%;
	}

	.dash {
		border-bottom: 1px solid black; 
		width:40px; 
		float:left; 
		position: relative; 
		margin: -8px 0 0 20px;
	}
}
@media screen and (min-width:901px) and (max-width:1200px) {

	.first_contact {
		.first_detail { 
			.first_detail_data {
				left: 30%;
			}
		}
		
		
	}
	.social_icons {
		margin-top: 0;
	}

	.contact_us {
		font-size: 12px;
		margin-bottom: 0%;
	}

	.country {
		font-size: 40px; 
		font-weight: bold;
		margin-bottom: 10%;
	}

	.city {
		font-size: 24px;
	}

	.tel {
		font-size: 16px;
	}

	.email_us {
		font-size: 16px;
	}

	.middle-dash {
		text-align: center;
		width: 30%;
		margin: 0 5%;
		cursor: pointer;
		p {
			position: relative;
			top: -35%;
			color: red; 
			font-size: 20px
		}
		
	}

	.social_icons {
		
		font-size: 14px;
		
	}

	.dash {
		border-bottom: 1px solid black; 
		width:40px; 
		margin: -7px 0 0 20px;
	}
}
@media screen and (min-width:1201px) and (max-width:1900px) {
	.first_contact {
		.first_detail { 
			.first_detail_data {
				left: 33%;
				top: 44%;
			}
		}
		
		
	}
	.social_icons {
		margin-top: 0;
	}

	.contact_us {
		font-size: 14px;
		margin-bottom: 0%;
	}

	.country {
		font-size: 40px; 
		font-weight: bold;
		margin-bottom: 10%;
	}

	.city {
		font-size: 24px;
	}

	.tel {
		font-size: 16px;
	}

	.email_us {
		font-size: 16px;
	}
	.middle-dash {
		margin: 0 10%;
		p {
			font-size: 18px
		}
	}

	.dash {
		margin: -4px 0 0 20px;
	}
}
// @media screen and (min-width:1900px) and (max-width:2560px)
// @media screen and (min-width:2560px)