<div class="contact">
	<div class="first_contact">
        <div class="first_detail" >
            <div class="first_detail_data">
                <div style="font-size: 16px;">CONTACT US</div>
                <div style="font-size: 50px; 
                            font-weight: bold;">
                    <p>India Office</p>
                </div>
                <div style="font-size: 18px;">
                    <p>Versoba, India</p>
                </div>

                <div style="font-size: 14px;">TEL: +971 4 369 9919</div>
                <div style="font-size: 14px;">FAX: +971 4 362 3220</div>
                <div style="font-size: 16px;">
                    <p>ofer888@yahoo.com</p>
                </div>
            </div>
            
        </div>
        <div class="first_video">
            <div class="first_video_zone">
                <video  id="backgroundvid" autoplay muted loop>
                    <!-- <source src="video.webm" type='video/webm; codecs="vp8.0, vorbis"'> -->
                    <source src="../../assets/video/astrology.Ogg" type='video/ogg; codecs="theora, vorbis"'>
                    <!-- <source src="video.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'> -->
                    
                </video>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="second_contact">
        <div class="second_video">
            <div class="second_video_zone">
                <video  id="backgroundvid" autoplay muted loop>
                    <!-- <source src="video.webm" type='video/webm; codecs="vp8.0, vorbis"'> -->
                    <source src="../../assets/video/astrology.Ogg" type='video/ogg; codecs="theora, vorbis"'>
                    <!-- <source src="video.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'> -->
                    
                </video>
            </div>
        </div>
        <div class="second_detail" >
            <div class="second_detail_data">
             
                <div style="font-size: 16px;">CONTACT US</div>
                <div style="font-size: 50px; 
                            font-weight: bold;">
                    Thailand Office
                </div>
                <div style="font-size: 18px;">
                    <p>Bangkok, Thailandl</p>
                </div>

                <div style="font-size: 14px;">TEL: +971 4 369 9919</div>
                <div style="font-size: 14px;">FAX: +971 4 362 3220</div>
                <div style="font-size: 16px;">
                    <p>ofer888@yahoo.com</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="third_contact">
        <div class="third_detail" >
            <div class="third_detail_data">
                <div style="font-size: 16px;">CONTACT US</div>
                <div style="font-size: 50px; 
                            font-weight: bold;">
                    Israel Office
                </div>
                <div style="font-size: 18px;">
                    <p>Borohov 25, Israel</p>
                </div>

                <div style="font-size: 14px;">TEL: +971 4 369 9919</div>
                <div style="font-size: 14px;">FAX: +971 4 362 3220</div>
                <div style="font-size: 16px;">
                    <p>ofer888@yahoo.com</p>
                </div>
            </div>
            
        </div>
        <div class="third_video">
            <div class="third_video_zone">
                <video  id="backgroundvid" autoplay muted loop>
                    <!-- <source src="video.webm" type='video/webm; codecs="vp8.0, vorbis"'> -->
                    <source src="../../assets/video/astrology.Ogg" type='video/ogg; codecs="theora, vorbis"'>
                    <!-- <source src="video.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'> -->
                    
                </video>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
