.intro_opacity {
	
	//opacity: 1;
	width: 100%;
    height: 100vh; 
	font-family: Oswald;
	overflow: hidden;
	background-color: #4E4B4F;
	
}

.intro {
	width: 100%;
	height: 100%; 
	
	z-index: 20;
	// position: absolute;
	overflow: hidden;
}

.flow-bottom-top {
	height: 100%;
	width: 100%;
}

.show_window {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	overflow: hidden;
	z-index: 5;
}


.photo {
	width: 30%;
	height: 100%;
	position: absolute;
	right: 1%;
	top: 0%;
}

.photo span {
	right: -20%;
}

.photo img {
	width: 80%;
	height: 60%;
	padding-top: 20%;
 	opacity: 0.3;
    filter: alpha(opacity=30); 
}

.photo_2 img, .photo_4 img {
	height: auto !important;
}

.photo_1  {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	cursor: pointer;
}
.photo_2, .photo_3, .photo_4,
 .photo_5, .photo_6, .photo_7, .photo_8 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;
	cursor: pointer;
}


.movies {
	width: 30%;
	height: 100%;
	position: absolute;
	right: 30%;
	top: 0%;
}


.movies video {
	width: 100%;
	height: auto;
	position: relative;
	top: 60%;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

.movies .iVideo {
	width: 100%;
	height: auto;
	position: relative;
	top: 60%;
	opacity: 0.3;
    filter: alpha(opacity=30);
}


.video_1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	cursor: pointer;
}
.video_2, .video_3, .video_4,
.video_5, .video_6, .video_7, .video_8 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;
	cursor: pointer;
}

.intro_text {
	width: 30%;
	height: auto;
	position: absolute;
	top: 30%;
	left: 15%;
	color: white;
	z-index: 25;
}

.intro_detail {
	width: 70%;
	height: auto;
	position: absolute;
	top: 30%;
	left: 13%;
	color: white;
	z-index: 25;
}

.intro_detail_text {
	white-space: normal;
	font-size: 30px;
	position: relative;
    color: rgb(133, 127, 126);
}

.intro_detail_text p {
	margin: 0;
}

@keyframes fill-1 {
	50%   { width: 50%; }
	100%  { width: 100%;
	        }
}

$times: 8s;


.method-1 {
	position: relative;
	display: inline-block;
	font-size: 34px;
	
	&:before {
	  content: attr(data-text);
	  position: absolute;
	  overflow: hidden;
	  white-space: nowrap;
	  width: 0%;
	  color: white;
	  animation: fill-1 $times;
	}	
	
  }


  .method-2 {
	position: relative;
	display: inline-block;
	&:before {
	  content: attr(data-text);
	  position: absolute;
	  overflow: hidden;
	  white-space: nowrap;
	  width: 0;
	  color: white;
	  animation: fill-1 $times;
	  animation-delay: $times*1;
	}	
  }

  .method-3 {
	position: relative;
	display: inline-block;
	&:before {
	  content: attr(data-text);
	  position: absolute;
	  overflow: hidden;
	  white-space: nowrap;
	  width: 0;
	  color: white;
	  animation: fill-1 $times;
	  animation-delay: $times*2;
	}	
  }

  .method-4 {
	position: relative;
	display: inline-block;
	&:before {
	  content: attr(data-text);
	  position: absolute;
	  overflow: hidden;
	  white-space: nowrap;
	  width: 0;
	  color: white;
	  animation: fill-1 $times;
	  animation-delay: $times*3;
	}	
  }

  .method-5 {
	position: relative;
	display: inline-block;
	&:before {
	  content: attr(data-text);
	  position: absolute;
	  overflow: hidden;
	  white-space: nowrap;
	  width: 0;
	  color: white;
	  animation: fill-1 $times;
	  animation-delay: $times*4;
	}	
  }

  .method-6 {
	position: relative;
	display: inline-block;
	&:before {
	  content: attr(data-text);
	  position: absolute;
	  overflow: hidden;
	  white-space: nowrap;
	  width: 0;
	  color: white;
	  animation: fill-1 $times;
	  animation-delay: $times*5;
	}	
  }

  .method-7 {
	position: relative;
	display: inline-block;
	&:before {
	  content: attr(data-text);
	  position: absolute;
	  overflow: hidden;
	  white-space: nowrap;
	  width: 0;
	  color: white;
	  animation: fill-1 $times;
	  animation-delay: $times*6;
	}	
  }

  .method-8 {
	position: relative;
	display: inline-block;
	&:before {
	  content: attr(data-text);
	  position: absolute;
	  overflow: hidden;
	  white-space: nowrap;
	  width: 0;
	  color: white;
	  animation: fill-1 $times;
	  animation-delay: $times*7;
	}	
  }

  .method-9 {
	position: relative;
	display: inline-block;
	&:before {
	  content: attr(data-text);
	  position: absolute;
	  overflow: hidden;
	  white-space: nowrap;
	  width: 0;
	  color: white;
	  animation: fill-1 $times;
	  animation-delay: $times*8;
	}	
  }
  
@keyframes greyscale {
    0%   { filter: grayscale(1); color: white; /* Google Chrome & Webkit Nightlies */}
    100% { filter: grayscale(0); color: white;/* Google Chrome & Webkit Nightlies */ }
}

.one {
    filter: color;
    animation: greyscale 1000s 1 $times;
}

.two {
	filter: color;
    animation: greyscale 1000s 1 $times*2;
}

.three {
    filter: color;
    animation: greyscale 1000s 1 $times*3;
}

.four {
	filter: color;
    animation: greyscale 1000s 1 $times*4;
}

.five {
    filter: color;
    animation: greyscale 1000s 1 $times*5;
}

.six {
	filter: color;
    animation: greyscale 1000s 1 $times*6;
}

.seven {
    filter: color;
    animation: greyscale 1000s 1 $times*7;
}

.eight {
	filter: color;
    animation: greyscale 1000s 1 $times*8;
}

.nine {
	filter: color;
    animation: greyscale 1000s 1 $times*9;
}

.intro_text_title {
	color: white;
	font-weight: bold;
	font-size: 120px;
	line-height: 140px;
}

.ofer {
	position: relative;
	left: -100px;
	opacity: 0.0;
}

.cohen {
	position: relative;
	left: 100px;
	opacity: 0.0;
}

.intro_tex_content {
	color: white;
	white-space: normal;
	font-size: 30px;
	padding-top: 20px;
	white-space: nowrap;
	position: relative;
	padding-left: 20%;
	opacity: 0;
}

.scroll_show {
	position: absolute;
	width: 1px;
	height: 60px;
	background-color: white;
	left: 50%;
	bottom:	80px;
	// transform: translate(-50%, -50%);
	z-index: 100;
}

.scroll_symbol {
	position: absolute;
	width: 1px;
	height: 60px;
	background-color: rgb(133, 127, 126);
	left: 49%;
	z-index: 100;
}

.scroll_text {
	position: absolute;
	color: white;
	left: 50%;
	bottom: 40px;
	transform: translate(-50%, -50%);
	font-size: 14px;
}


mat-video {
	width:300px;
	height: 300px;
}