<div class="intro_opacity">
<div class="intro">
	<!-- <div class="intro-title" >
		Introduction
	</div> -->
	<div class="flow-bottom-top">
		<div class="show_window">
			<div class="photo">
				<span  class="photo_1 active">
					<img src="assets/img/intro/intro_1.jpg">
				</span>
				<span  class="photo_2 prev">
					<img src="assets/img/intro/intro_2.jpg">
				</span>
				<span  class="photo_3 ">
					<img src="assets/img/intro/intro_3.jpg">
				</span>
				<span  class="photo_4 ">
					<img src="assets/img/intro/intro_4.jpg">
				</span>
				<span  class="photo_5 ">
					<img src="assets/img/intro/intro_5.jpg">
				</span>
				<span  class="photo_6 ">
					<img src="assets/img/intro/intro_6.jpg">
				</span>
				<span  class="photo_7 ">
					<img src="assets/img/intro/intro_7.jpg">
				</span>
				<span  class="photo_8 ">
					<img src="assets/img/intro/intro_8.jpg">
				</span>
			</div>

			<div class="movies">
				
				<span class="video_1 active">
					<video id="playV" autoplay muted  loop preload="auto">
						<source  [attr.src]="getImagePath()" type='video/ogg;codecs="theora, vorbis"'>
						<source  src="assets/video/intro_1.Ogg" type='video/ogg;codecs="theora, vorbis"'>
						<source  src="assets/video/intro_1.ogv" type='video/ogg'>
						<source  src="assets/video/intro_1.mp4" type='video/mp4;codecs="H264, avc1.42E01E, mp4a.40.2"'>
						<source  src="assets/video/intro_1.webm" type="video/webm">
						
					</video>
				</span>
				<span class="video_2 prev">
					<video autoplay muted loop preload="auto">
						<source src="assets/video/intro_2.Ogg" type='video/ogg;codecs="theora, vorbis"'>
						<source src="assets/video/intro_2.mp4" type="video/mp4">
						<source src="assets/video/intro_2.webm" type="video/webm">	
					</video>
				</span>
				<span class="video_3">
					<video autoplay muted loop preload="auto">
						<source src="assets/video/intro_3.Ogg" type='video/ogg;codecs="theora, vorbis"'>
						<source src="assets/video/intro_3.mp4" type="video/mp4">
						<source src="assets/video/intro_3.webm" type="video/webm">
					</video>
				</span>
				<span class="video_4">
					<video autoplay muted loop preload="auto">
						<source src="assets/video/intro_4.Ogg" type='video/ogg;codecs="theora, vorbis"'>
						<source src="assets/video/intro_4.mp4" type="video/mp4">
						<source src="assets/video/intro_4.webm" type="video/webm">
					</video>
				</span>
				<span class="video_5">
					<video autoplay muted loop preload="auto">
						<source src="assets/video/intro_5.Ogg" type='video/ogg;codecs="theora, vorbis"'>
						<source src="assets/video/intro_5.mp4" type="video/mp4">
						<source src="assets/video/intro_5.webm" type="video/webm">
					</video>
				</span>
				<span class="video_6">
					<video autoplay muted loop preload="auto">
						<source src="assets/video/intro_6.Ogg" type='video/ogg;codecs="theora, vorbis"'>
						<source src="assets/video/intro_6.mp4" type="video/mp4">
						<source src="assets/video/intro_6.webm" type="video/webm">
					</video>
				</span>
				<span class="video_7">
					<video autoplay muted loop preload="auto">
						<source src="assets/video/intro_7.Ogg" type='video/ogg;codecs="theora, vorbis"'>
						<source src="assets/video/intro_7.mp4" type="video/mp4">
						<source src="assets/video/intro_7.webm" type="video/webm">
					</video>
				</span>
				<span class="video_8">
					<video autoplay muted loop preload="auto">
						<source src="assets/video/intro_8.Ogg" type='video/ogg;codecs="theora, vorbis"'>
						<source src="assets/video/intro_8.mp4" type="video/mp4">
						<source src="assets/video/intro_8.webm" type="video/webm">
					</video>
				</span>
			</div>
		
			<div *ngIf="animaFlag">
				<div class="intro_text"  >
					<div class="intro_text_title" >
						<div class="ofer" >OFER</div>
						<div class="cohen" >COHEN</div>  
					</div>
					<div class="intro_tex_content" >
						<p>
							“I slept and dreamt that life was joy. I awoke and saw that life was service. 
						<br />	I acted and behold, service was joy.”  
						<br />	― Tagore

						</p>
					</div>
				</div>
			</div>	
			<div *ngIf="!animaFlag">
				<div class="intro_detail" >
					<div class="intro_detail_text">
						<p class="method-1 one"
						data-text="YOU USE A MIRROR TO SEE YOUR FACE, " >
						YOU USE A MIRROR TO SEE YOUR FACE,
						</p> <br />
						<p class="method-2 two" 
						data-text="I analyze your birth chart & read cards to see your soul. I will tell the truth ">
						I analyze your birth chart & read cards to see your soul. I will tell the truth 
						</p> <br />
						<p class="method-3 three" 
						data-text="even if it is not what you want to hear. I believe the truth can set you free. ">
						even if it is not what you want to hear. I believe the truth can set you free. 
						</p> <br />
						<p class="method-4 four" 
						data-text="This is what I do all my life. My purpose is not only to predict your future! ">
						This is what I do all my life. My purpose is not only to predict your future! 
						</p> <br />
						<p class="method-5 five" 
						data-text="This is just one of the ways i heal and solve your problems. The future is not set in  ">
						This is just one of the ways i heal and solve your problems. The future is not set in 
						</p> <br />
						<p class="method-6 six" 
						data-text="stone, some life events are about to take place and my work is to increase your">
						stone, some life events are about to take place and my work is to increase your
						</p> <br />
						<p class="method-7 seven" 
						data-text=" awareness, to prepare you for the right decision!  In my list of clients, you will find  ">
						awareness, to prepare you for the right decision!  In my list of clients, you will find
						</p> <br />
						<p class="method-8 eight" 
						data-text="people from all walk of life, a couple who need match making advice, a movie director ">
						people from all walk of life, a couple who need match making advice, a movie director  
						</p> <br />
						<p class="method-9 nine" 
						data-text="who need a casting advice or a banker who is looking for stock market prediction.">
						who need a casting advice or  a banker who is looking for stock market prediction.
						</p> 
					</div>
				</div>
			</div>	

			<div  class="scroll_show" *ngIf="scroll_flag">
				<div class="scroll_symbol">
				</div>
			</div>
			
			<div class="scroll_text" *ngIf="scroll_flag">
				Scroll
			</div>
	</div>
</div>
</div>