<div class="intro_opacity">
<div class="intro">
	<!-- <div class="intro-title" >
		Introduction
	</div> -->
	<div class="flow-bottom-top">
		<div class="show_window">
			<div class="photo">
				<span  class="photo_1 active">
					<img src="assets/img/intro/intro_1.jpg">
				</span>
				<span  class="photo_2 prev">
					<img src="assets/img/intro/intro_2.jpg">
				</span>
				<span  class="photo_3 ">
					<img src="assets/img/intro/intro_3.jpg">
				</span>
				<span  class="photo_4 ">
					<img src="assets/img/intro/intro_4.jpg">
				</span>
				<span  class="photo_5 ">
					<img src="assets/img/intro/intro_5.jpg">
				</span>
				<span  class="photo_6 ">
					<img src="assets/img/intro/intro_6.jpg">
				</span>
				<span  class="photo_7 ">
					<img src="assets/img/intro/intro_7.jpg">
				</span>
				<span  class="photo_8 ">
					<img src="assets/img/intro/intro_8.jpg">
				</span>
			</div>

			<div class="movies">
				
				<span class="video_1 active">
					<video  autoplay muted loop>
						<source src="assets/video/intro_1.Ogg" type="video/Ogg">
					</video>
				</span>
				<span class="video_2 prev">
					<video  autoplay muted loop>
						<source src="assets/video/intro_2.Ogg" type="video/Ogg">
					</video>
				</span>
				<span class="video_3">
					<video autoplay muted loop>
						<source src="assets/video/intro_3.Ogg" type="video/Ogg">
					</video>
				</span>
				<span class="video_4">
					<video autoplay muted loop>
						<source src="assets/video/intro_4.Ogg" type="video/Ogg">
					</video>
				</span>
				<span class="video_5">
					<video autoplay muted loop>
						<source src="assets/video/intro_5.Ogg" type="video/Ogg">
					</video>
				</span>
				<span class="video_6">
					<video autoplay muted loop>
						<source src="assets/video/intro_6.Ogg" type="video/Ogg">
					</video>
				</span>
				<span class="video_7">
					<video autoplay muted loop>
						<source src="assets/video/intro_7.Ogg" type="video/Ogg">
					</video>
				</span>
			</div>
		
			<div *ngIf="scroll_flag">
				<div class="intro_text"  >
					<div class="intro_text_title" >
						<div class="ofer" >OFER</div>
						<div class="cohen" >COHEN</div>  
					</div>
					<div class="intro_tex_content" >
						<p>
							I help ordinary people caught up in extraordinary situation.
						</p>
					</div>
				</div>
			</div>	
			<div *ngIf="!scroll_flag">
				<div class="intro_detail" >
					<div class="intro_detail_text">
						<p class="method-1"
						data-text="You use a mirror to see your face, I analyze your birth" >
							You use a mirror to see your face, I analyze your birth
						</p>
						<p class="method-2" 
						data-text="chart & read cards to see your soul. I will tell you the truth even">
							chart & read cards to see your soul. I will tell you the truth even
						</p>
						<p class="method-3" 
						data-text="if it is not what you want to hear.I believe the truth can ">
							if it is not what you want to hear.I believe the truth can 
						</p>
						<p class="method-4" 
						data-text="set you free. My purpose is not only to reveal">
						set you free. My purpose is not only to reveal
						</p>
						<p class="method-5" 
						data-text=" your future, it is also my way to to heal and help you ">
						your future, it is also my way to to heal and help you 
						</p>
						<p class="method-6" 
						data-text="find the right path to success.">
						find the right path to success.
						</p>
					</div>
				</div>
			</div>	


			<div  class="scroll_show" *ngIf="scroll_flag">
				<div class="scroll_symbol">
				</div>
			</div>
			
			<div class="scroll_text" *ngIf="scroll_flag">
				Scroll
			</div>
	</div>
</div>
</div>