<div class="step-images">
	<div class="step-images-container">
		<div class="img-first-column">
			<div class="img-1">
				<img src="../../../assets/img/about/about1.jpg" />
			</div>
			<div class="img-2">
				<img src="../../../assets/img/about/about2.jpg" />
			</div>
			<div class="img-3">
				<img src="../../../assets/img/about/about3.jpg" />
			</div>
		</div>
		<div class="img-second-column">
			<div class="img-4">
				<img src="../../../assets/img/about/about4.jpg" />
			</div>
		</div>
		<div class="img-third-column">
			<div class="img-5">
				<img src="../../../assets/img/about/about5.jpg" />
			</div>
			<div class="img-6">
				<img src="../../../assets/img/about/about6.jpg" />
			</div>
		</div>
	</div>
</div>
