<div class="main">
	<div class="loading container">
		<div class="animate">
			<p class="method-1" data-text="OFER COHEN" >
				<!-- <span>O</span><span>F</span><span>E</span><span>R</span>
				<span style="margin-left: 35px"></span>
				<span>C</span><span>O</span><span>H</span><span>E</span><span>N</span> -->
				OFER COHEN
			</p>
			
			<div style="visibility: hidden">
				<video id="playV" autoplay muted  preload="auto">
					<source src="../../assets/video/intro_1.Ogg" type='video/ogg;codecs="theora, vorbis"'>
					<source src="../../assets/video/intro_1.ogv" type='video/ogg'>
					<source src="../../assets/video/intro_1.mp4" type='video/mp4;codecs="H264, avc1.42E01E, mp4a.40.2"'>
					<source src="../../assets/video/intro_1.webm" type="video/webm">
				</video>
			</div>
		</div>
	</div>

<!-- <div style="visibility: hidden">
	<video  id="backgroundvid"  muted  preload="auto">
		<source src="../../assets/video/astrology.Ogg" type='video/ogg; codecs="theora, vorbis"'>
	</video> 


	<video id="playV"  muted   preload="auto">
		<source src="../../assets/video/intro_1.ogg" type='video/ogg;codecs="theora, vorbis"'>
		<source src="../../assets/video/intro_1.ogv" type='video/ogg'>
		<source src="../../assets/video/intro_1.mp4" type='video/mp4;codecs="H264, avc1.42E01E, mp4a.40.2"'>
		<source src="../../assets/video/intro_1.webm" type="video/webm">
	</video>

	<video  id="backgroundvid" muted  preload="auto">
		<source src="../../assets/video/contact_thailand.Ogg" type='video/ogg; codecs="theora, vorbis"'>
			
	</video>
</div> -->
</div>
