.main {
	
 background-color: #4E4B4F;
 width: 100%;
 height: 100vh;
 font-family: Oswald;
 //overflow: hidden;
 //position: absolute;
}
// 244, 135, 42
.loading {
	font-weight: bold;
	//font-size: 100px;
	position: absolute;
	color: rgb(230, 231, 233);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}


.method-1 {
  position: relative;
  display: inline-block;
  font-size: 60px;
 

  &:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    color: rgb(244, 135, 42);
    // animation: fill-1 20s infinite;
    animation: fill-1 3s;
  }
}

.pinkremain {
    filter: color;
    animation: greyrepeat 200s 1 3s;
}

@keyframes fill-1 {
  50%   { width: 50%; }
  100%  { width: 100%; }
}

@keyframes greyrepeat {
    0%   { filter: greyrepeat(1); color: rgb(244, 135, 42); /* Google Chrome & Webkit Nightlies */}
    100% { filter: greyrepeat(0); color: rgb(244, 135, 42);/* Google Chrome & Webkit Nightlies */ }
}



.container-main { 
	text-transform: uppercase;
}

.animate span {
	display: inline-block;
}

@media screen and (max-width: 600px) {
  .method-1 {
    font-size: 30px;
  }
}

