.books-container {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.books {
	width: 100%;
	height: 100%;
	//position: absolute;
	img {
		width: 100%;
		height: 100vh;
	}
	z-index: 1;
	
}

.light {
	position: absolute;
	top: 16%;
	left: 60%;
	width: 30%;
	height: 80%;
	z-index: 10;
	cursor: pointer;
	img {
		width: 100%;
		height: 100%;
		
	}
	outline: none !important;
}

.book_detail {
	position: absolute;
	color: black;
	font-family: Oswald extra light;
	font-size: 26px;
	top: 50%;
	left: 10%;
	width: 35%;
	height: 30%;
	
}

.img-hover-zoom-books .zoom-out-books {
  transform-origin: 50% 50%;
  transition: transform 10s, filter 0s ease-in-out;
  transform: scale(1.3);
}

/* The Transformation */
.img-hover-zoom-books:hover .zoom-out-books {                                                                                                     
  transform: scale(1);
}

