.books-container {
	width: 100%;
	height: 100vh; 
	position: absolute;
	overflow: hidden;
}

.books {
	width: 100%;
	height: 100%;
	position: absolute;
	img {
		width: 100%;
		height: 100vh;
	}
	z-index: 1;
	
}

.light {
	position: absolute;
	top: 26%;
	left: 60%;
	width: 30%;
	height: 65%;
	z-index: 10;
	float: right;
	cursor: pointer;
	img {
		width: 100%;
		height: 100%;
		
	}
	outline: none !important;
	//background: blue;
}

.book_detail {
	position: absolute;
	color: black;
	font-family: Oswald extra light;
	font-size: 26px;
	z-index: 10;
	top: 50%;
	left: 10%;
	width: 40%;
	height: 30%;
	float: left;
	//background:red;
	outline: none !important;
	a {
		color: black;
		font-size: 20px;
	}
}

.img-hover-zoom-books .zoom-out-books {
  transform-origin: 50% 50%;
  transition: transform 10s, filter 0s ease-in-out;
  transform: scale(1.3);
}

/* The Transformation */
.img-hover-zoom-books:hover .zoom-out-books {                                                                                                     
  transform: scale(1);
}

.show_circle {
	position: absolute;
	width: 4vw;
	height: 4vw;
	border-radius: 4vw;
	border: 2px solid white;
	z-index: 10;
	top: 42%;
	right: 3%;
	cursor: pointer;
	
	span {
		position: relative;
		
		top: 36%;
		left: 34%;
		z-index: 30;
		font-size: 14px;

		color: rgb(97, 175, 211);
	}
	outline: none !important;
}


.next_circle {

	position: absolute;
	width: 4vw;
	height: 4vw;
	z-index: 15;
	top: 42%;
	right: 3%;
	cursor: pointer;
	span {
		position: relative;
		top: 36%;
		left: 34%;
		z-index: 30;
		font-size: 14px;
		color: rgb(97, 175, 211);
		visibility: hidden;
	}
	outline: none !important;
}

.quarter-circle-top-left{
	position: inherit;
	width: 2vw;
	height: 2vw;
	border-left: 2px solid rgb(41, 202, 186);
	border-top: 2px solid rgb(41, 202, 186);
	//background: rgb(41, 202, 186);
	top: 0;
	left: 0;
    border-radius: 2vw 0 0 0;
    -moz-border-radius: 2vw 0 0 0;
    -webkit-border-radius: 2vw 0 0 0;
    visibility: hidden;
    z-index: 20;
}
.quarter-circle-top-right{
    position: inherit;
	width: 2vw;
	height: 2vw;
	border-right: 2px solid rgb(41, 202, 186);
	border-top: 2px solid rgb(41, 202, 186);
	//background: rgb(41, 202, 186);
	top: 0;
	right: 0;
    border-radius: 0 2vw 0 0;
    -moz-border-radius: 0 2vw 0 0;
    -webkit-border-radius: 0 2vw 0 0;
    visibility: hidden;
    z-index: 20;
}
.quarter-circle-bottom-left{
    position: inherit;
	width: 2vw;
	height: 2vw;
	border-left: 2px solid rgb(41, 202, 186);
	border-bottom: 2px solid rgb(41, 202, 186);
	//border-left: 2px solid yellow;
	//background: rgb(41, 202, 186);
	bottom: 0;
	left: 0;
    border-radius: 0 0 0 2vw;
    -moz-border-radius: 0 0 0 2vw;
    -webkit-border-radius: 0 0 0 2vw;
    visibility: hidden;
    z-index: 20;
}
.quarter-circle-bottom-right{
     	position: inherit;
    	width: 2vw;
    	height: 2vw;
    	border-right: 2px solid rgb(41, 202, 186);
    	border-bottom: 2px solid rgb(41, 202, 186);
		//border-right: 2px solid green;
		//background: rgb(41, 202, 186);
    	bottom: 0;
    	right: 0;
	    border-radius: 0 0 2vw 0;
	    -moz-border-radius: 0 0 2vw 0;
	    -webkit-border-radius: 0 0 2vw 0;
	    visibility: hidden;
	    z-index: 20;
}



@media screen and (max-width: 600px) {
	.books-container {
		
		.books {
			overflow-x: hidden;
			overflow-y: scroll;
			height: max-content;
			img {
				width: auto;
				height: 100vh;
			}
			.light {
				position: absolute;
				top: 92%;
				left: 25%;
				width: 60%;
				height: 90%;
				z-index: 10;
				cursor: pointer;
				img {
					width: 100%;
					height: 60%;
					margin-bottom: 20vh;
				}
				
				outline: none !important;
			}
			.book_detail {
				font-size: 16px;
				top: 30%;
				left: 10%;
				padding-right: 10%;
				width: 95%;
				height: 100%;
				z-index: 20;
			}
			.show_circle {
				display: none;
				span{display: none;}
			}
		}
	}
	
}
@media screen and (min-width:601px) and (max-width:900px) {
	.books-container {
		.books {
			overflow-x: hidden;
			overflow-y: scroll;
	
			img {
				width: auto;
				height: 100%;
			}
			.light {
				position: absolute;
				top: 75%;
				left: 35%;
				width: 45%;
				height: 60%;
				z-index: 10;
				cursor: pointer;
				img {
					width: 100%;
					height: 80%;
					
				}
				outline: none !important;
			}
			.book_detail {
				position: absolute;
				font-size: 18px;
				top: 25%;
				left: 10%;
				padding-right: 10%;
				width: 90%;
				height: 30%;
				z-index: 20;
			}
			.show_circle {
				display: none;
				span{display: none;}
			}
		}
	}
}

@media screen and (min-width:901px) and (max-width:1200px) {
	.books-container {
		.books {
			img {
				width: auto;
				height: 100%;
			}
			.light {
				position: absolute;
				top: 25%;
				left: 70%;
				width: 30%;
				height: 70%;
				z-index: 10;
				cursor: pointer;
				img {
					width: 80%;
					height: 80%;
					
				}
				outline: none !important;
			}
			.book_detail {
				font-size: 20px;
				top: 25%;
				left: 10%;
				padding-right: 10%;
				width: 60%;
				height: 30%;
				z-index: 20;
			}
			.show_circle {
				//display: none;
				span {
					// top: 27% !important;
    	 			// left: 24% !important;
    				display: none;
				}
			}
		}
	}
}

@media screen and (min-width:1201px) and (max-width:1900px) {
	.books-container {
		.books {
			img {
				width: auto;
				height: 100%;
			}
			.light {
				position: absolute;
				top: 25%;
				left: 65%;
				width: 30%;
				height: 80%;
				z-index: 10;
				cursor: pointer;
				img {
					width: 80%;
					height: 80%;
					
				}
				outline: none !important;
			}
			.book_detail {
				font-size: 22px;
				top: 35%;
				left: 10%;
				padding-right: 10%;
				width: 60%;
				height: 30%;
				z-index: 20;
			}
			.show_circle {
				span {
				    top: 25%;
    				left: 23%;
				}
			}
		}
	}
}

@media screen and (min-width:1900px) and (max-width:2560px) {
	.books-container {
		.books {
			img {
				width: auto;
				height: 100%;
			}
			.light {
				position: absolute;
				top: 25%;
				left: 65%;
				width: 30%;
				height: 80%;
				z-index: 10;
				cursor: pointer;
				img {
					width: 80%;
					height: 80%;
					
				}
				outline: none !important;
			}
			.book_detail {
				font-size: 24px;
				top: 50%;
				left: 10%;
				padding-right: 10%;
				width: 60%;
				height: 30%;
				z-index: 20;
			}
			.show_circle {
				span {
				    // top: 34%;
					// left: 31%;
				}
			}
		}
	}
}

// @media screen and (min-width:2560px)