<div class="step-five">
    <div class="left-side">
        <div class="left-side-top">
            <div class="left-side-text">
                <p>
                    2004/5 <br />
                    During the period in north India he was often invited to the bussiness and films city of
                    Mumbai. After constantly traveling back and forth between north and south India he 
                    settled in Mumbai. Shortly after he was offered to become the spiritual counselor & 
                    reader at the Grand Hayyat Celina which is the largest Hotel in Asia. During this 
                    period Ofer became known between the city Celebs and the bussiness community. It
                    was the time he started to make his national media appearances, his success 
                    attracted people from all over Asia. His workshop and spiritual events at the 
                    Hayyat Spa attracted people who seek his forecast and quidance. It was the time 
                    when his name started to be recognize by far community's in USA, Canada and 
                    middle east.
            
                </p>
            </div>
        </div>
        <div class="left-side-bottom">
            <div *ngIf="historyImgFlag; then thenBlock0 else elseBlock0"></div>
            <ng-template #thenBlock0><img src="../../../assets/img/about/his7.png" /></ng-template>
            <ng-template #elseBlock0><img [attr.src]="getHistoryImagePath(7)" /></ng-template> 
        </div>
    </div>
    <div class="right-side">
        <div class="right-side-top">
            <div *ngIf="historyImgFlag; then thenBlock1 else elseBlock1"></div>
            <ng-template #thenBlock1><img src="../../../assets/img/about/his8.png" /></ng-template>
            <ng-template #elseBlock1><img [attr.src]="getHistoryImagePath(8)" /></ng-template>
        </div>
        <div class="right-side-bottom">
            <div class="right-side-text">
                <p>
                    2005/6 <br/>
                    Around late 2003 while living between the south beaches of India and the 
                    northern mountains region he went through a deep spiritual transformation a 
                    period he describe as an enlightenment years. He then started to write his 
                    first book "the light" the book was partly written in Automatic writing (sub
                    conciseness writing), he was in a unique state of mind when writing this 
                    spiritual manuscript. The book contains an enlightening description of the 
                    human soul journey. The book took many years to complete and waited years 
                    to be translated to English. "THE LIGHT" was completed during the time of 
                    his spiritual work in London and finally brought to publish in 2012.

                </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>