<!-- <div class="container">
    <div class="left_white">

    </div>
    <div class="right_black"> -->
        <div class="close-menu" (click)="onSidenavClose()" >
            Close
        </div>
        <div class="nav-list">

            <mat-nav-list>
            <a class="item_container" mat-list-item (click)="onIntro()">
                <span class="num">01. </span><span class="nav-caption">Intro</span>   
            </a>
            <a class="item_container" mat-list-item (click)="onAst()">
                <span class="num">02. </span><span class="nav-caption">Astrology</span>
            </a>
            <a class="item_container" mat-list-item (click)="onTarot()">
                <span class="num">03. </span><span class="nav-caption">Tarot</span>
            </a>
            <a class="item_container" mat-list-item (click)="onCounseling()">
                <span class="num">04. </span><span class="nav-caption">Book your Session</span>
            </a>
            <a class="item_container" mat-list-item (click)="onAbout()">
                <span class="num">05. </span><span class="nav-caption">About</span>
            </a>
            <a class="item_container" mat-list-item (click)="onContact()">
                <span class="num">06. </span> <span class="nav-caption">Contact</span>
            </a>
            <div class="press-books">
                <span class="press" (click)="onPress()"> <div class="dash"  ></div> Press </span> 
                <span class="books"> <div class="dash"></div>Books</span>
            </div>
            </mat-nav-list>
        </div>
    <!-- </div>
</div> -->

 