// .container {
//     width: 100%;
//     height: 100%;
    
// }

// .left_white {
//     background-color: white;
//     width: 30%;
//     height: 100%;
//     float: left;
// }

// .right_black {
//     background: rgb(60, 60, 60);
//     width: 70%;
//     height: 100%;
//     float: right;
//     overflow: hidden;
// }

.nav-list {
    width: 100%;
    height: 100%;  
    position: absolute;   
    z-index: 100;   
}

a {
    text-decoration: none;
    color: white;
    margin-bottom: 3%;
}
 
a:hover, a:active{
    color: lightgray;   
}

mat-nav-list {
	padding: 16% 0 0 10%;
}

mat-nav-list span {
    // font-size: 40px;
    font-weight: bold;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    padding-bottom: 20px;
}


.nav-caption{
    display: inline-block;
    color: white;
    visibility: visible;
    font-size: 60px;
}

.close {
    position: absolute;
    top: 7%;
    right: 13%;
    color: white;
    z-index: 110;
    font-size: 26px;
    cursor: pointer;
}

.num {
    color: white;
    font-size: 40px !important;
    padding-right: 2%;
    width: 50px;
}
.item_container {
    font-family: Oswald, sans-serif;
}