<!-- <div class="container">
    <div class="left_white">

    </div>
    <div class="right_black"> -->
        <div class="close" (click)="onSidenavClose()" >
            Close
        </div>
        <div class="nav-list">

            <mat-nav-list>
            <a class="item_container" mat-list-item (click)="onIntro()">
                <span class="num">01. </span><span class="nav-caption">INTRO</span>   
            </a>
            <a class="item_container" mat-list-item (click)="onAst()">
                <span class="num">02. </span><span class="nav-caption">ASTROLOGY</span>
            </a>
            <a class="item_container" mat-list-item (click)="onTarot()">
                <span class="num">03. </span><span class="nav-caption">TAROT</span>
            </a>
            <a class="item_container" mat-list-item (click)="onCounseling()">
                <span class="num">04. </span><span class="nav-caption">BOOK YOUR SESSION</span>
            </a>
            <a class="item_container" mat-list-item (click)="onAbout()">
                <span class="num">05. </span><span class="nav-caption">ABOUT</span>
            </a>
            <a class="item_container" mat-list-item (click)="onContact()">
                <span class="num">06. </span> <span class="nav-caption">CONTACT</span>
            </a>
            
            </mat-nav-list>
        </div>
    <!-- </div>
</div> -->

 