
<div class="horo" >
  <mat-sidenav-container>
      <mat-sidenav #sidenav position="end" role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-navigation (sidenavToggle)="sidenav.toggle()"></app-navigation>
        <div [@routerTransition]="getState(o)" >
          <router-outlet #o="outlet"></router-outlet>
        </div>
        <div class="loading-lines">
          <app-progressbar></app-progressbar>
        </div>
      </mat-sidenav-content>
  </mat-sidenav-container> 
</div>

