mat-sidenav-container, mat-sidenav-content, mat-sidenav {
	height: 100%;   
	
}

 
mat-sidenav {
	//background-color: rgb(60, 60, 60);
	background: transparent;
	width: 70%;
	cursor: pointer;
}

.loading-lines {
	position: absolute;
	left: 5%;
	bottom: 0%;
	z-index: 50;	
	width: 90%;
	height: 4%;
	padding:0 0 20px 0;
  	transition: height 0.3s;
  	transition-delay: 0.1s;
	overflow: hidden;
}

.loading-lines:hover {
	cursor: pointer;
	height: 100px;
	
}

