<div class="ast-inner">
	<div class="ast-inner-container">
		<div class="ast-inner-carousel">
			<div class="container">
				<div class="ast-inner-title" routerLink="/astrology">
					<p>HOROSCOPE FOR THE YEAR 2019</p>
				</div>
		      <div class="g-scrolling-carousel">
		        <div class="items">
		          	<div class="item_container">
		          		<div class="sunsign_title">
							<div class="left_title">Aries &nbsp; ―――</div>
							<div class="mid_title"></div>
							<div class="right_title">Taurus  &nbsp; ―――</div>
	           		  	</div>
	           		  	<div class="sunsign_text">
	           		  		<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.aries_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.aries_love}}</p>	
							</div>
	           		  		<div class="mid_img">
								<span class="helper"></span>
	           		  			<img src="assets/img/astInner/aries_taurus/arie-middle.png">
	           		  		</div>
	           		  		<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.taurus_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.taurus_love}}</p>	
							</div>
							<!-- <div class="divide"></div> -->
						</div>
	           		  	
	           		  	<div class="sunsign_img">
							<div class="bottom_left">
								<div class="left_img">
										<img src="assets/img/astInner/aries_taurus/aries.png">
										<img src="assets/img/astInner/aries_taurus/aries_icon.png">
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<img src="assets/img/astInner/aries_taurus/taurus.png">
									<img src="assets/img/astInner/aries_taurus/taurus_icon.png">
								</div>
							</div>	
								
								
	           		  	</div>
		          	</div>
		          
	          	  	<div class="item_container">
		          		<div class="sunsign_title">
           		  			<div class="left_title">Gemini&nbsp; ―――</div>
           		  			<div class="mid_title"></div>
           		  			<div class="right_title">Cancer&nbsp; ―――</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.gemini_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.gemini_love}}</p>	
							</div>
							<div class="mid_img">
								<span class="helper"></span>
								<img src="assets/img/astInner/gemini-cancer/gemini_middle.png">
							</div>
							<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.cancer_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.cancer_love}}</p>	
							</div>
							<!-- <div class="divide"></div> -->
					    </div>	 
	           		  	<div class="sunsign_img">

							<div class="bottom_left">
								<div class="left_img">
										<img src="assets/img/astInner/gemini-cancer/gemini.png">
										<img src="assets/img/astInner/gemini-cancer/gemini_icon.png">
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<img src="assets/img/astInner/gemini-cancer/cancer.png">
									<img src="assets/img/astInner/gemini-cancer/cancer_icon.png">
								</div>
							</div>	
	           		  	</div>
		          	</div>		
		          
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">leo&nbsp; ―――</div>
							<div class="mid_title"></div>
							<div class="right_title">virgo&nbsp; ―――</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.leo_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.leo_love}}</p>	
							</div>
							<div class="mid_img">
								<span class="helper"></span>
								<img src="assets/img/astInner/leo-virgo/leo_middle.png">
							</div>
							<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.virgo_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.virgo_love}}</p>	
							</div>
							<!-- <div class="divide"></div> -->
					    </div>
						<div class="sunsign_img">
							<div class="bottom_left">
								<div class="left_img">
									<img src="assets/img/astInner/leo-virgo/leo.png">
									<img src="assets/img/astInner/leo-virgo/leo_icon.png">
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<img src="assets/img/astInner/leo-virgo/virgo.png">
									<img src="assets/img/astInner/leo-virgo/virgo_icon.png">
								</div>
							</div>	
							
						</div>
					</div>
		         
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">libra&nbsp; ―――</div>
							<div class="mid_title"></div>
							<div class="right_title">scorpio&nbsp; ―――</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.libra_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.libra_love}}</p>	
							</div>
							<div class="mid_img">
								<span class="helper"></span>
								<img src="assets/img/astInner/libra-scorpio/libra_middle.png">
							</div>
							<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.scorpio_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.scorpio_love}}</p>	
							</div>
							<!-- <div class="divide"></div> -->
						</div>
						<div class="sunsign_img">
							<div class="bottom_left">
								<div class="left_img">
									<img src="assets/img/astInner/libra-scorpio/libra.png">
									<img src="assets/img/astInner/libra-scorpio/libra_icon.png">
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<img src="assets/img/astInner/libra-scorpio/scorpio.png">
									<img src="assets/img/astInner/libra-scorpio/scorpio_icon.png">
								</div>
							</div>	
						</div>
					</div>
		          
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">Sagittarius&nbsp; ―――</div>
							<div class="mid_title"></div>
							<div class="right_title">Capricorn&nbsp; ―――</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.sagi_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.sagi_love}}</p>	
							</div>
							<div class="mid_img">
								<span class="helper"></span>
								<img src="assets/img/astInner/sagi-capricorn/sagi_middle.jpg">
							</div>
							<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.capricorn_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.capricorn_love}}</p>	
							</div>
							<!-- <div class="divide"></div> -->
						</div>
						<div class="sunsign_img">
							<div class="bottom_left">
								<div class="left_img">
									<img src="assets/img/astInner/sagi-capricorn/sagi.png">
									<img src="assets/img/astInner/sagi-capricorn/sagi_icon.png">
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<img src="assets/img/astInner/sagi-capricorn/capricorn.png">
									<img src="assets/img/astInner/sagi-capricorn/capricorn_icon.png">
								</div>
							</div>	
							
						</div>
					</div>
		          
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">Aquarius&nbsp; ―――</div>
							<div class="mid_title"></div>
							<div class="right_title">Pisces&nbsp; ―――</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.aquarius_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.aquarius_love}}</p>	
							</div>
							<div class="mid_img">
								<span class="helper"></span>
								<img src="assets/img/astInner/aquarius-pisces/aquarius_middle.png">
							</div>
							<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.pisces_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.pisces_love}}</p>	
							</div>
						</div>
						<div class="sunsign_img">
							<div class="bottom_left">
								<div class="left_img">
									<img src="assets/img/astInner/aquarius-pisces/aquarius.png">
									<img src="assets/img/astInner/aquarius-pisces/aquarius_icon.png">
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<img src="assets/img/astInner/aquarius-pisces/pisces.png">
									<img src="assets/img/astInner/aquarius-pisces/pisces_icon.png">
								</div>
							</div>	
							
						</div>
					</div>
		        </div>
		      </div>
		    </div>
		</div>
	</div>
</div>

