<div class="ast-inner">
	<div class="ast-inner-container">
		<div class="ast-inner-carousel">
			<div class="container">
				<div class="ast-inner-title" routerLink="/astrology">
					<p>HOROSCOPE FOR THE YEAR 2019</p>
				</div>
		      <div class="g-scrolling-carousel">
		        <div class="items">
		          	<div class="item_container">
		          		<div class="sunsign_title">
							<div class="left_title">
								<div style="float: left;">Aries</div> 
								<div style="border: 1px solid black; width:100px; float:left; 
								position: relative; margin: 18px 0 0 10px;
								 "></div>
							</div>
							
							<div class="mid_title"></div>
							<div class="right_title">
									<div style="float: left;">Taurus</div> 
									<div style="border: 1px solid black; width:100px; float:left; 
									position: relative; margin: 18px 0 0 10px;
									 "></div>
							</div>
	           		  	</div>
	           		  	<div class="sunsign_text">
	           		  		<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.aries_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.aries_love}}</p>	
							</div>
	           		  		<div class="mid_img">
								<span class="helper"></span>
	           		  			<img src="assets/img/astInner/aries_taurus/arie-middle.png">
	           		  		</div>
	           		  		<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.taurus_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.taurus_love}}</p>	
							</div>
							<div class="divide"></div>
						</div>
	           		  	
	           		  	<div class="sunsign_img">
							<div class="bottom_left">
								<div class="left_img">
									<div class="origin_img">
										<img src="assets/img/astInner/aries_taurus/aries.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/aries_taurus/aries_icon.png">
									</div>
										
										
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<div class="origin_img">
										<img src="assets/img/astInner/aries_taurus/taurus.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/aries_taurus/taurus_icon.png">
									</div>
								</div>
							</div>	
								
								
	           		  	</div>
		          	</div>
		          
	          	  	<div class="item_container">
		          		<div class="sunsign_title">
           		  			<div class="left_title">
							<div style="float: left;">Gemini</div> 
							<div style="border: 1px solid black; width:100px; float:left; 
							position: relative; margin: 18px 0 0 10px;
								"></div>
							</div>
           		  			<div class="mid_title"></div>
           		  			<div class="right_title">

								<div style="float: left;">Cancer</div> 
								<div style="border: 1px solid black; width:100px; float:left; 
								position: relative; margin: 18px 0 0 10px;
									"></div>
							</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.gemini_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.gemini_love}}</p>	
							</div>
							<div class="mid_img">
								<span class="helper"></span>
								<img src="assets/img/astInner/gemini-cancer/gemini_middle.png">
							</div>
							<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.cancer_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.cancer_love}}</p>	
							</div>
							<div class="divide"></div>
					    </div>	 
	           		  	<div class="sunsign_img">

							<div class="bottom_left">
								<div class="left_img">
									<div class="origin_img">
										<img src="assets/img/astInner/gemini-cancer/gemini.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/gemini-cancer/gemini_icon.png">
									</div>
										
										
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<div class="origin_img">
										<img src="assets/img/astInner/gemini-cancer/cancer.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/gemini-cancer/cancer_icon.png">
									</div>
									
									
								</div>
							</div>	
	           		  	</div>
		          	</div>		
		          
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">

									<div style="float: left;">Leo</div> 
									<div style="border: 1px solid black; width:100px; float:left; 
									position: relative; margin: 18px 0 0 10px;
									 "></div>
							</div>
							<div class="mid_title"></div>
							<div class="right_title">
									<div style="float: left;">Virgo</div> 
									<div style="border: 1px solid black; width:100px; float:left; 
									position: relative; margin: 18px 0 0 10px;
									 "></div>
							</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.leo_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.leo_love}}</p>	
							</div>
							<div class="mid_img">
								<span class="helper"></span>
								<img src="assets/img/astInner/leo-virgo/leo_middle.png">
							</div>
							<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.virgo_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.virgo_love}}</p>	
							</div>
							<div class="divide"></div>
					    </div>
						<div class="sunsign_img">
							<div class="bottom_left">
								<div class="left_img">
									<div class="origin_img">
										<img src="assets/img/astInner/leo-virgo/leo.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/leo-virgo/leo_icon.png">
									</div>
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<div class="origin_img">
										<img src="assets/img/astInner/leo-virgo/virgo.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/leo-virgo/virgo_icon.png">
									</div>
								</div>
							</div>	
							
						</div>
					</div>
		         
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">
									<div style="float: left;">Libra</div> 
									<div style="border: 1px solid black; width:100px; float:left; 
									position: relative; margin: 18px 0 0 10px;
									 "></div>
							</div>
							<div class="mid_title"></div>
							<div class="right_title">

									<div style="float: left;">Scorpio</div> 
									<div style="border: 1px solid black; width:100px; float:left; 
									position: relative; margin: 18px 0 0 10px;
									 "></div>
							</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.libra_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.libra_love}}</p>	
							</div>
							<div class="mid_img">
								<span class="helper"></span>
								<img src="assets/img/astInner/libra-scorpio/libra_middle.png">
							</div>
							<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.scorpio_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.scorpio_love}}</p>	
							</div>
							<div class="divide"></div>
							<div class="divide"></div>
						</div>
						<div class="sunsign_img">
							<div class="bottom_left">
								<div class="left_img">
									<div class="origin_img">
										<img src="assets/img/astInner/libra-scorpio/libra.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/libra-scorpio/libra_icon.png">
									</div>	
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<div class="origin_img">
										<img src="assets/img/astInner/libra-scorpio/scorpio.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/libra-scorpio/scorpio_icon.png">
									</div>
								</div>
							</div>	
						</div>
					</div>
		          
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">
									<div style="float: left;">Sagittarius</div> 
									<div style="border: 1px solid black; width:100px; float:left; 
									position: relative; margin: 18px 0 0 10px;
									 "></div>
							</div>
							<div class="mid_title"></div>
							<div class="right_title">
									<div style="float: left;">Capricorn</div> 
									<div style="border: 1px solid black; width:100px; float:left; 
									position: relative; margin: 18px 0 0 10px;
									 "></div>
							</div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.sagi_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.sagi_love}}</p>	
							</div>
							<div class="mid_img">
								<span class="helper"></span>
								<img src="assets/img/astInner/sagi-capricorn/sagi_middle.jpg">
							</div>
							<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.capricorn_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.capricorn_love}}</p>	
							</div>
							<div class="divide"></div>
						</div>
						<div class="sunsign_img">
							<div class="bottom_left">
								<div class="left_img">
									<div class="origin_img">
										<img src="assets/img/astInner/sagi-capricorn/sagi.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/sagi-capricorn/sagi_icon.png">
									</div>
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<div class="origin_img">
										<img src="assets/img/astInner/sagi-capricorn/capricorn.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/sagi-capricorn/capricorn_icon.png">
									</div>									
								</div>
							</div>	
							
						</div>
					</div>
		          
					<div class="item_container">
						<div class="sunsign_title">
							<div class="left_title">
									<div style="float: left;">Aquarius</div> 
									<div style="border: 1px solid black; width:100px; float:left; 
									position: relative; margin: 18px 0 0 10px;
									 "></div>
							</div>
							<div class="mid_title"></div>
							<div class="right_title">
								<div style="float: left;">Pisces</div> 
								<div style="border: 1px solid black; width:100px; float:left; 
								position: relative; margin: 18px 0 0 10px;
								"></div>
							 </div>
						</div>
						<div class="sunsign_text">
							<div class="left_text">
								<div class="left_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.aquarius_career}}</p> 
								<div class="left_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.aquarius_love}}</p>	
							</div>
							<div class="mid_img">
								<span class="helper"></span>
								<img src="assets/img/astInner/aquarius-pisces/aquarius_middle.png">
							</div>
							<div class="right_text">
								<div class="right_text_career">
									<p>Career and finance: </p>
								</div>
								<p class="des">{{sunsign_description.pisces_career}}	</p> 
								<div class="right_text_love">
									<p>Love and relationships:</p>
								</div>
								<p class="des">{{sunsign_description.pisces_love}}</p>	
							</div>
						</div>
						<div class="sunsign_img">
							<div class="bottom_left">
								<div class="left_img">
									<div class="origin_img">
										<img src="assets/img/astInner/aquarius-pisces/aquarius.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/aquarius-pisces/aquarius_icon.png">
									</div>
								</div>
							</div>	 
							<div class="bottom_middle">
								<div class="none_img"></div>
							</div>
							<div class="bottom_right">
								<div class="right_img">
									<div class="origin_img">
										<img src="assets/img/astInner/aquarius-pisces/pisces.png">
									</div>
									<div class="icon_img">
										<img src="assets/img/astInner/aquarius-pisces/pisces_icon.png">
									</div>
								</div>
							</div>	
							
						</div>
					</div>
		        </div>
		      </div>
		    </div>
		</div>
	</div>
</div>

