.admin-portal {
	
}
.navbar-brand {
    font-size: 26px;
}

#navbarSupportedContent {
    font-size: 26px;
}

.nav-item {
    margin-right: 36px;
}

.nav-item a:hover {
    color: white;
    cursor: pointer;
}

.data-table {
    margin: 3% 1%;
}