<div class="ast_container">
	<div class="transition_wall_down"></div>	
	<div class="transition_wall_up"></div>
<div class="astrology">
	<video  id="backgroundvid" autoplay loop muted preload="auto">
		<source [attr.src]="getImagePath()" type='video/ogg; codecs="theora, vorbis"'>
		<!-- <source  src="../../assets/video/astrology.mp4" type='video/mp4;codecs="avc1.4D401E, mp4a.40.2"'> -->
		<source  src="../../assets/video/astrology.Ogg" type='video/ogg; codecs="theora, vorbis"'>
	</video> 
	<div class="ast-title"  routerLink="/astrology/ast-inner">
		<!-- Astrology -->
	</div>
	<div class="ast_opacity">
		<div class="ast_entry_title" routerLink="/astrology/ast-inner"  >
			2019 yearly Horoscope
		</div>
	</div>
</div>

</div>
