<div class="step-one">
    <div class="left-side">
        <div class="left-side-top">
            <div class="left-side-text">
                <p>
                    1958 <br />
                    Ofer is a known Astrologer, Hermetic Tarot
                    master & a spiritual guide. He was born in 1958
                    in the city of Tel aviv-jaffa. In his early age he 
                    was deeply influenced by the secret books of 
                    Kabbalah and the mystery of Coffey reading which
                    was a popular prediction method in the middle
                    east.
                </p>
            </div>
        </div>
        <div class="left-side-bottom">
            <img src="../../../assets/img/about/step-one1.png" />
        </div>
    </div>
    <div class="right-side">
        <div class="right-side-top">
            <img src="../../../assets/img/about/step-one2.png"  />
        </div>
        <div class="right-side-bottom">
            <div class="right-side-text">
                <p>
                    1974 <br />
                    Ofer was born into a family known into the occult
                    & mysticism for decades. In his early years he was 
                    deep into occult and healing herbs study. He 
                    started hi career in predicting people health
                    conditions with reading face photos. He was a 
                    nature lover who spend much of his time in 
                    traveling between the northern mountains of 
                    Israel to the southern desert. 
                </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>