<div class="progressbar" *ngIf="progressShow"  >
  <div class="progress_container" [ngStyle]="{'color': colorPreference}">
    <div (click)="onIntro()" class="progress-section">
      <mat-progress-bar
          class="progress-margin"
          [value]="introVal"
          >
      </mat-progress-bar>   
      <div class="bar_text" >Home</div>   
    </div>
    <div (click)="onAst()"  class="progress-section">
      <mat-progress-bar
          class="progress-margin"
       
          [value]="astVal"
          >
      </mat-progress-bar>  
      <div class="bar_text">Astrology</div>      
    </div>
    <div (click)="onAbout()"class="progress-section">
      <mat-progress-bar
          class="progress-margin"
       
          [value]="aboutVal"
         >
      </mat-progress-bar>    
      <div class="bar_text">About</div>    
    </div>
    <div (click)="onCounseling()" class="progress-section">
      <mat-progress-bar
          class="progress-margin"          
       
          [value]="counselingVal"
          >
      </mat-progress-bar>      
      <div class="bar_text">Book a session</div>  
    </div>
    <div (click)="onContact()" class="progress-section">
      <mat-progress-bar
          class="progress-margin"    
         
          [value]="contactVal"
          >
      </mat-progress-bar>    
      <div class="bar_text">Contact</div>    
    </div>
  </div>
</div>