.single-card {
	width: 100%;
	height: 100vh;
	position: absolute;
	font-family: Oswald;
	overflow: hidden;
	background-color: #E6E4E4;
}

.single-card-container {
	width: 100%;
	height: 100%;
}

.single-left-detail {
	width: 70%;
	height: 100%;
	float: left;
	position: relative;
	.single-title {
		font-size: 40px;
		color: #5A3594;
		padding: 6% 0 1% 0;
		cursor: pointer;
	 	// background: red;
	 	span {
	 		position: relative;
	 		left: 60%;
	 	}
	}
	.single-img {
		position: relative;
		margin: 3% 0;
		img {
			position: relative;
			left: 58.5%;
			width: 18%;
			height: 40vh;
		}
	}
	.single-detail {
		position: relative;
		left: 40%;
		margin-top: 5%;
		.single-detail-title {
			cursor: pointer;
			font-size: 28px;
		}
		.yes-no {
			padding-top: 1%;
			font-size: 24px;
		}
		.single-detail-text {
			padding-top: 2%;
			font-size: 20px;
			width: 60%;
		}
	}
}

.single-right-detail {
	width: 30%;
	height: 100%;
	float: right;
	//background: blue;
	.single-sel-item3-container {
		width: 100%;
		position: relative;
	    display: table;
	    margin-top: 28%;
		margin-left: 25%;
		.single-back-reading {
			float: left;
			font-size: 22px;
			color: #5A3594;
			margin-top: 3vh;
			div {
				text-align: right;
				cursor: pointer;
			}
			// div:nth-child(2) {
			// 	margin-top: 11vh;
			// }
		}
		.arrow-symbol {
			float: left;
			margin-left: 30px;
			.arrow-dash {
				position: relative;
				margin-left: 9px;
				margin-top: -40px;
				width: 2px;
				height: 22vh;
			    background-image: linear-gradient(to bottom, transparent 50%, #5A3594 50%);
			    background-size: 50px 50px;
			}
			i:nth-child(1) {
				font-size:20px;
				color:#5A3594;
			}

			i:nth-child(2) {
				font-size:20px;
				color:#5A3594;
				
			}
			.arrow-down {
				margin-top: -14px;
			}
		}
	}

	.right-img {
		position: relative;
		height: 15%;
		width: 30%;
		top: 30%;
		left: 20%;
		//background: red;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.left_triangle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-right: 30vh solid transparent;
    border-bottom: 50vh solid #5A3594;
    z-index: 0;
}
