<div class="step-four">
    <div class="left-side">
        <div class="left-side-top">
            <div class="left-side-text">
                <p>
                    1998 <br />
                    1990 to 1999 Ofer had a few media appearances. He 
                    was invited to a live radio night podcast and came as a 
                    guest at TV live shows. Just when success started to 
                    come his way, he felt that something in his life is 
                    missing. In late 1999 his life dramatically change. He 
                    traveled to Asia where his spiritual journey had began.
                    He spent years in the north India/Nepal Himalaya 
                    mountains region, there he was practicing yoga, 
                    teaches professional tarot reading and astrology to 
                    people from around the world. In the village near where
                    he was staying. You could see tourists and locals 
                    coming to his mountain house everyday seeking his tarot 
                    and spiritual quidance. 
            
                </p>
            </div>
        </div>
        <div class="left-side-bottom">
            <img src="../../../assets/img/about/step_four1.png" />
        </div>
    </div>
    <div class="right-side">
        <div class="right-side-top">
            <img src="../../../assets/img/about/step_four2.png"  />
        </div>
        <div class="right-side-bottom">
            <div class="right-side-text">
                <p>
                    2002 <br/>
                    Some of his most famous predictions were publish in 
                    Asia early 2001 to 2007, "the rise of the east country's", 
                    "the banking crises in USA 2008" and natural 
                    disasters in Asia! Some of his past predictions are 
                    coming now into reality. Ofer is known for his 
                    accurate relationship match up prediction, he helps 
                    many young singles to make the right marriage 
                    decisions. His honest and straight forward approach 
                    become his trade mark.

                </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>