a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu {
    position: absolute;
    right: 8%;
    cursor: pointer;
    z-index: 80;
    font-size: 22px;
}

.menu span {
    z-index: 50;
  
}

.header-show {
    position: absolute;
    top: 8%;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: Oswald;
}

.page_logo {
    position: absolute;
    left: 8%;
    z-index: 20;
    // font-weight: bold;
    font-size: 26px;
}

.page_title {
    position: absolute;
   text-align: center;
}

mat-toolbar{
    border-radius: 3px;
}
 
@media screen and (max-width: 600px) {
    .menu {
        font-size: 16px;
    }
}

// @media screen and (min-width:601px) and (max-width:900px)
// @media screen and (min-width:901px) and (max-width:1200px)
// @media screen and (min-width:1201px) and (max-width:1900px)
// @media screen and (min-width:1900px) and (max-width:2560px)
// @media screen and (min-width:2560px)