.books-dream-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.books-dream {
	width: 100%;
	height: 100%;
	background: #658795;
	img {
		width: 70%;
		height: 100vh;
	}
	z-index: 1;
	overflow: hidden;
	position: absolute;
}

.dream {
	position: absolute;
	top: 16%;
	left: 60%;
	width: 26%;
	height: 80%;
	z-index: 10;
	cursor: pointer;
	img {
		width: 100%;
		height: 100%;
		
	}
	outline: none !important;
}

.book_detail {
	position: absolute;
	color: white;
	font-family: Oswald extra light;
	font-size: 26px;
	top: 70%;
	left: 10%;
	width: 40%;
	height: 30%;
	a {
		color: white;
		font-size: 20px;
	}
}

.img-hover-zoom-books .zoom-out-books {
  transform-origin: 50% 50%;
  transition: transform 10s, filter 0s ease-in-out;
  transform: scale(1.3);
}

/* The Transformation */
.img-hover-zoom-books:hover .zoom-out-books {                                                                                                     
  transform: scale(1);
}