<div class="books-dream">
	<img src="../../../assets/img/books/books2.png" />
	<div class="dream" routerLink="/books" >
		<img src="../../../assets/img/books/dream.png" />
	</div>
	<div class="book_detail">
		<p>
			DREAMS, is an insightful book that will unfold the mysteries of this ever-so intriguing concept, like never before. The book is an insight to the unconscious mind, as well as an exclusive, educative and fun reference guide that will tell us everything we need to understand about our dreams and our innermost self.
			<br /><br />
			<a href="https://www.amazon.com/Dreams-Interpretations-Secrets-ofer-cohen/dp/1491294086" target="_blank">Buy the book : https://www.amazon.com/Dreams-Interpretations-Secrets-ofer-cohen/dp/1491294086</a>

		</p>
	</div>

</div>
